section.awards.white-block
	.container 
		.awards__title-wrapper 
			.awards__title.general-title 
				| Побеждаем в конкурсах  
				br
				|и рейтингах
		.awards__list
			.awards__item
				.awards__icon
					img(src="img/awards/awards_1.webp")
				.awards__name Tagline Awards 
					span 20+ наград
				.awards__text Лучший Интернет-банк
					<br>Лучший B2B кабинет
					<br>Лучший маркетплейс
			.awards__item
				.awards__icon
					img(src="img/awards/awards_2.webp")
				.awards__name Ruward Award 
					span 2 награды
				.awards__text Лучший Интернет-банк
					<br>Лучший B2B кабинет
			.awards__item
				.awards__icon
					img(src="img/awards/awards_3.webp")
				.awards__name Dprofile
					span 4 награды
				.awards__text Лучший дизайн (UI)
					<br>Лучший интерфейс (UX)
			.awards__item
				.awards__icon
					img(src="img/awards/awards_4.webp")
				.awards__name Markswebb
					span TOP4 в UX
				.awards__text Лучший интерфейс интернет-банка
			.awards__item
				.awards__icon
					img(src="img/awards/awards_5.webp")
				.awards__name Рейтинг Ruward
					span TOP7 Digital-интеграторов
				.awards__text Вошли в список лучших <br>Digital-интегратор России

		a.awards__more(href="javascript:void(0)") Все награды и рейтинги →