.media.media-page {
	.media__item-wrapper {
		p {
			&::after {
				transition: all 0.5s ease 0s;
				opacity: 0;
				position: relative;
				color: #0047FF;
				content: " →";
			}
		}
		&:hover {
			.media__item__label {
				transition: all 0.5s ease 0s;
				color: #0047FF;
				opacity: 1;
				p {
					&::after {
						transition: all 0.5s ease 0s;
						opacity: 1;
					}
				}

				span {
					opacity: 0.4;
					color: #2a2a2a
				}
			}
		}
	}
	.media__item__label {
		min-width: 423px;
		display: flex;
		justify-content: space-between;
		transition: all 0.5s ease 0s;

		span {
			display: block;
		}

		@media (max-width: 1919px){
			min-width: 314px;
		}
		@media (max-width: 1439px){
			min-width: 257px;
		}
		@media (max-width: 1024px) {
			min-width: vw(257);
		}
		@media (max-width: 767px){
			min-width: auto;
		}		
	}
	.media__item__desc {
		max-width: 595px;
		margin-right: 20px;
		@media (max-width: 1919px){
			max-width: 440px;
		}
		@media (max-width: 1439px){
			max-width: 468px;
		}
		@media (max-width: 1024px) {
			max-width: vw(326);
		}
		@media (max-width: 767px){
			max-width: 100%;
			margin-bottom: vw320(15);
		}		
	}
}
