.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 50px 0;
	&__container {
		display: flex;
		align-items: center;
	}
	&__logo {
		flex: 1 1 auto;
		svg {
			path {
				fill: black;
			}
		}
	}
	
	&__right {
		flex: 0 1 1225px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: black;
		}
	
		&__menu {}

		&__connection {
			display: flex;
			align-items: center;
			a {
				margin-left: 50px;
			}
		}
		&.js-header-white {
			.header__logo {
				svg {
					path {
						fill: white;
					}
				}
			}
			.header__right {
				color: white;
			}
		}
}

.menu-header {
	&__list {
		display: flex;
		align-items: center;
		margin-left: -45px;
	}
	
	&__item {
		margin-left: 45px;
	}
	
	&__link {
		}
}
