section.services
	.services__container.container 
		.services__items 
			.services__item
				.services__item-left 
					span
						span less money     
						span more money     
						span new money
				.services__item-right 
					span Консалтинг по цифровой трансформации
			.services__item
				.services__item-left 
					span
						span web     
						span mobile     
						span ml
				.services__item-right 
					span Продуктовая веб- и мобильная разработка
			.services__item
				.services__item-left 
					span
						span ui     
						span ux     
						span cx
				.services__item-right 
					span Дизайн и проектирование интерфейсов
			.services__item
				.services__item-left 
					span 
						span sla
				.services__item-right 
					span Развитие и поддержка IT-проектов
			.services__item
				.services__item-left 
					span 
						span startup
				.services__item-right 
					span MVP за 3 месяца
			.services__item
				.services__item-left 
					span
						span express branding     
						span logo 
						span website     
				.services__item-right 
					span Метод IQ
					a(href="#").services__item-new Hовое
