section.services.white-block
	.container 
		.services__items 
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span web   
								span mobile
								span startup
						.services__item-right 
							span Веб-сервисы и мобильные приложения
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span web     
						.services__item-right 
							span Корпоративные сайты
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span ui     
								span ux    
								span cx
						.services__item-right 
							span Проектирование сервисов CJM/UX/UI
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span outsource   
								span outstaff   
						.services__item-right 
							span Продуктовая команда
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span 
								span less<b></b>money  
								span more<b></b>money  
								span new<b></b>money 
						.services__item-right 
							span Цифровая трансформация. Консалтинг
			a(href="#").services__item-wrapper
				figure 
					.services__item.services__item--wrapCalc
						.services__item-left 
							span 
								span 
						.services__item-right 
							.services__item--calc.h3 
								!="Рассчитайте стоимость и срок вашего проекта онлайн и получите <span>коммерческое <br> предложение за 1 минуту</span>" 
							button(onclick="document.location='calc-page.html'").services__item--calc__button.h3 В калькулятор услуг →