section.hero
	video(src='video/hero.mp4', autoplay='', loop='', muted="muted").hero__video
	.hero__container.container 
		.hero__content
			.hero__top 
				.hero__left
					a.js-to-form(href="javascript:;") Получить консультацию    →
				.hero__right
					.hero__title.general-title 
						|Создаем веб-сервисы 
						br
						|и мобильные приложения для 
						br
						span цифровой трансформации 360° бизнеса и госучреждений 
			.hero__bottom 
				.hero__left 
					a(href="#" download).hero__left-download-link 
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7 10L12 15L17 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M12 15V3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						span Презентация
					a.fill.hero__left-download-link.js-video-fancybox(href="https://www.youtube.com/watch?v=9fG6UPKgLY0&t=37s" data-fancybox="video") 
						<svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20" fill="none">
						<path d="M15.7875 8.7339L2.28 0.470781C2.05227 0.33133 1.79144 0.255201 1.52445 0.250257C1.25746 0.245313 0.993989 0.311732 0.76125 0.442655C0.530728 0.571545 0.338696 0.759511 0.204904 0.987222C0.0711107 1.21493 0.000385179 1.47417 0 1.73828V18.2627C0.00173697 18.6588 0.160719 19.0381 0.441997 19.3171C0.723276 19.5961 1.10383 19.752 1.5 19.7505C1.77652 19.7503 2.04767 19.6741 2.28375 19.5302L15.7875 11.267C16.0046 11.1347 16.184 10.9488 16.3084 10.7272C16.4329 10.5055 16.4983 10.2556 16.4983 10.0014C16.4983 9.7472 16.4329 9.49727 16.3084 9.27563C16.184 9.05398 16.0046 8.86808 15.7875 8.73578V8.7339ZM1.5 18.2448V1.75047L14.9841 10.0005L1.5 18.2448Z" fill="white"/>
						</svg>
						span Showreel ‘23
				.hero__right 
					.hero__items 
						.hero__item 
							.hero__item-top 15,1 лет 
							.hero__item-bottom в IT с 07.2007
						.hero__item 
							.hero__item-top 350+
							.hero__item-bottom проектов  
						.hero__item 
							.hero__item-top #1
							.hero__item-bottom  в рейтингах
