section.hero
	.hero__container.container 
		.hero__content
			.hero__top 
				.hero__left 
					a(href="#") Бесплатная консультация    →
				.hero__right
					.hero__title.general-title 
						|Создаем веб-сервисы 
						br
						|и мобильные приложения для 
						br
						span цифровой трансформации 360° бизнеса и госучреждений 
			.hero__bottom 
				.hero__left 
					a(href="#" download).hero__left-download-link 
						img(src="img/svg/download.svg", alt="alt")
						span Презентация
				.hero__right 
					.hero__items 
						.hero__item 
							.hero__item-top 15,1 лет 
							.hero__item-bottom в IT с 07.2007
						.hero__item 
							.hero__item-top 350+
							.hero__item-bottom Проектов  
						.hero__item 
							.hero__item-top #1
							.hero__item-bottom  в рейтингах
