section.wehelp.white-block
	.wehelp__container.container 
		.wehelp__title-wrapper 
			.wehelp__title.general-title 
				a(href="") Помогаем клиентам 
				br
				|достигать бизнес-целей и 
				br
				|пополнять топ-рейтинг 
				img(src="img/svg/rbc-500.svg", alt="alt")
		.wehelp__swiper.swiper 
			.swiper-wrapper 
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/land-rover.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Уралсиб
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/tinkoff.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Уралсиб
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/land-rover.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Уралсиб
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/igoods.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Уралсиб
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/land-rover.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Уралсиб
							.wehelp__bottom-right Александра Петрова
