.wehelp {
	padding-top: 30px;
	padding-bottom: 60px;
	@media (max-width: 1919px){
		padding-top: 20px;
		padding-bottom: 45px;
	}
	@media (max-width: 1439px){
		padding-top: 30px;
		padding-bottom: 60px;
	}
	@media (max-width: 1023px){
		padding: 30px 0;
	}
	@media (max-width: 767px){
		padding: 15px 0 30px;
	}
	&__title {
		flex: 0 1 65%;
		@media (max-width: 1919px){
			flex: 0 1 64%;
		}
		@media (max-width: 1439px){
			flex: 0 1 66%;
		}
		@media (max-width: 1023px){
			flex: 1 1 100%;
		}
		&-wrapper {
			display: flex;
			justify-content: flex-end;
		}
		img {
			@media (max-width: 1919px){
				width: 185px;
				height: 50px;
			}
			@media (max-width: 1439px){
				width: 80px;
				height: 20px;
			}
			@media (max-width: 1023px){
				display: none;
			}
		}
	}

	&__swiper {
		margin: 0 -30px;
		margin-top: 230px;
		@media (max-width: 1919px){
			margin: 0 -20px;
			margin-top: 170px;
		}
		@media (max-width: 1439px){
			margin: 0 -30px;
			margin-top: 110px;
		}
		@media (max-width: 767px){
			margin: 0 -20px;
			margin-top: 50px;
		}
		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}

	&__slide {}
	
	&__item {
		width: 555px;
		@media (max-width: 1919px){
			width: 415px;
		}
		@media (max-width: 1439px){
			width: 280px;
		}
		@media (max-width: 767px){
			width: 192px;
		}
	}

	&__img {
		display: block;
		width: 555px;
		height: 555px;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		@media (max-width: 1919px){
			width: 415px;
			height: 415px;
		}
		@media (max-width: 1439px) {
			width: 280px;
			height: 280px;
		}
		@media (max-width: 767px){
			width: 192px;
			height: 192px;
		}
		>img {
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease 0s;
			opacity: 0;
		}
		&:hover{
			>img {
				opacity: 1;
			}
		}
		&-icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 555px;
			height: 555px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid rgba($color: #000000, $alpha: 0.2);
			border-radius: 50%;
			@media (max-width: 1919px){
				width: 415px;
				height: 415px;
			}
			@media (max-width: 1439px) {
				width: 280px;
				height: 280px;
			}
			@media (max-width: 767px){
				width: 192px;
				height: 192px;
			}
			img {
				width: 300px;
				height: 170px;
				@media (max-width: 1919px){
					width: 230px;
					height: 130px;
				}
				@media (max-width: 1439px){
					width: 150px;
					height: 85px;
				}
				@media (max-width: 767px){
					width: 105px;
					height: 60px;
				}
			}
		}	
	}

	&__bottom {
		transition: all 0.5s ease 0s;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 60px;
		padding-top: 20px;
		opacity: 0;
		cursor: default;
		@media (max-width: 1919px){
			margin-top: 45px;
			padding-top: 8px;
		}
		@media (max-width: 14393px){
			margin-top: 40px;
			padding-top: 10px;
		}
		@media (max-width: 767px){
			display: none;
		}
		&-left {
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 126.8%;
			color: #000000;
			@media (max-width: 1919px){
				font-size: 24.0167px;
			}
		}
	
		&-right {
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			opacity: 0.2;
			@media (max-width: 1919px){
				font-size: 13.5094px;
				line-height: 16px;
			}
		}
	}
	.wehelp__img:hover+.wehelp__bottom {
		opacity: 1;
	}
}