extends ../layouts/default

block variables
	- const title = "TIQUM";

block content 
	.wrapper.blog-info
		include ../../blocks/modules/header/header 
		.page 
			.container 
				.page-header 
					.flex-lr 
						.flex-lr__left 
						.flex-lr__right 
							h1.general-title Наш блог 
			.page__subscription
				.container 
					.flex-lr 
						.flex-lr__left 
						.flex-lr__right 
							.page__subscription--row
								.h2 Подпишись на ежемесячный дайджест
								p
									!="В дайджесте будет только самое интересное: наши новые статьи, предстоящие мероприятия, актуальные вакансии"
							.page__subscription--row
								.page__subscription--input
									input( type="email", placeholder="email", name="email", required="")
									.page__subscription--input--button 
										<svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 10.0175H0.95V10.0675V11.9325V11.9825H1H21.3803L13.564 19.7104L13.5272 19.7468L13.5649 19.7823L14.8928 21.0364L14.928 21.0696L14.9624 21.0355L25.0352 11.0355L25.071 11L25.0352 10.9645L14.9624 0.964517L14.9276 0.929984L14.8924 0.964074L13.5968 2.21809L13.5602 2.25357L13.5964 2.2895L21.3807 10.0175H1Z" fill="#2A2A2A" stroke="#2A2A2A" stroke-width="0.1"/>
										</svg>
									.form-wewillfind-footer__error Пожалуйста, заполните корректный email		
			.blog-info 
				.container
					.blog-info__container
						.blog-items
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/11.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем 
										br
										|a Workshopping,
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/12.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем a 
										br
										|Workshopping, Whiteboard and 
										br
										|Collaboration Web App
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/11.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем 
										br
										|a Workshopping,
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/12.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем a 
										br
										|Workshopping, Whiteboard and 
										br
										|Collaboration Web App
			.archive-articles
				.container 
					.flex-lr 
						.flex-lr__left 
						.flex-lr__right 
							.archive-articles--link.h1
								a.h1(href="#") Архив статей →
		include ../../blocks/modules/footer/footer 
	a.calc__link.calc__link--circle(href="#") Оставить заявку 

block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
	script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
	script(src="js/main.js")
