extends ../layouts/default

block variables
	- const title = "TIQUM";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page
			.container
				.page-header
					.flex-lr
						.flex-lr__left
						.flex-lr__right
							h1.general-title Стажировка
			.page
				.content.content-blog__wrapper.container.white-block
					.content-blog.flex-lr
						.left-content-blog.flex-lr__left
							ul
						.right-content-blog.flex-lr__right
							p Для успешного участия в реальных проектах по разработке ПО знания теории недостаточно. Молодому специалисту необходимы навыки работы в команде, умение анализировать требования проекта, навыки взаимодействия с заказчиком, правильного использования различных инструментов, а также понимание того, как устроен процесс работы в компании. Для получения этих навыков, нет ничего лучше чем личный опыт, полученный при реализации проектов. Это именно то, чем мы делимся с практикантами в программах стажировки, организованных в нашей компании.
							p Компания Tiqum имеет большой опыт подготовки начинающих программистов. Руководствуясь своим опытом и постоянно совершенствуя процесс подготовки, мы помогаем практикантам на тестовых проектах преодолевать трудности, связанные с совместной работой, учим выявлять наиболее важные детали для успешной реализации проектов, анализировать ошибки и делать выводы, чтобы избежать возникновения таких же ошибок в будущем, во время работы над реальными проектами для реальных клиентов.
							p Опытные руководители и профессиональные коллеги в нужный момент помогут теоретическим или практическим советом.
							p Вы можете узнать подробнее о прохождении производственной практики (или стажировки) в Tiqum, отправив ваше резюме по электронной почте с темой «Практика» или «Стажировка». Для успешного участия в реальных проектах по разработке ПО знания теории недостаточно. Молодому специалисту необходимы навыки работы в команде, умение анализировать требования проекта, навыки взаимодействия с заказчиком, правильного использования различных инструментов, а также понимание того, как устроен процесс работы в компании. Для получения этих навыков, нет ничего лучше чем личный опыт, полученный при реализации проектов. Это именно то, чем мы делимся с практикантами в программах стажировки, организованных в нашей компании.
							h2 Lorem, ipsum dolor.
							p Компания Tiqum имеет большой опыт подготовки начинающих программистов. Руководствуясь своим опытом и постоянно совершенствуя процесс подготовки, мы помогаем практикантам на тестовых проектах преодолевать трудности, связанные с совместной работой, учим выявлять наиболее важные детали для успешной реализации проектов, анализировать ошибки и делать выводы, чтобы избежать возникновения таких же ошибок в будущем, во время работы над реальными проектами для реальных клиентов.
							h2 Lorem, ipsum.
							.right-content-blog__btn.blue-btn
								span Отправить
		<footer class="footer">
			<div class="footer__container container">
				<div class="footer__wewillfind wewillfind-footer">

				<div class="wewillfind-footer__left">
			<div class="wewillfind-footer__connection"> <a href="tel:88007757363">8 800 775 73 63</a><a href="mailto:info@tiqum.ru">info@tiqum.ru</a></div>
			<div class="wewillfind-footer__location">Уфа – Гоголя 53<span>Москва – Сити</span></div>
			</div>
				<div class="wewillfind-footer__right" id="contact-form">

					<span id="webform-submission-contact-node-89-form-ajax-content"></span><div id="webform-submission-contact-node-89-form-ajax" class="webform-ajax-form-wrapper" data-effect="fade" data-progress-type="throbber"><form class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form webform-submission-contact-node-89-form webform-submission-contact-node-89-add-form wewillfind-footer__form form-wewillfind-footer" data-drupal-selector="webform-submission-contact-node-89-add-form-npwbcr20uku" enctype="multipart/form-data" action="/home" method="post" id="webform-submission-contact-node-89-add-form--NPWbCR20UKU" accept-charset="UTF-8" style="" data-once="form-updated" data-drupal-form-fields="">



				<div class="wewillfind-footer__title general-title">Спасибо за <br>заявку</div>

				<div class="form-wewillfind-footer__big form-wewillfind-footer__result js-active-area"></div>









				<div class="form-wewillfind-footer submited-form">
				<div class="form-wewillfind-footer__success h2">Наш лучший менеджер <span>свяжется с</span><br><span>вами в ближайшее время</span>
				</div>
				</div>

			<input autocomplete="off" data-drupal-selector="form-768fhrj9py43svfhut0arvs3qft-rslzcwgjegdzeye" type="hidden" name="form_build_id" value="form-768fhrj9py43svfhUt0arVS3QfT-rslZCWGjEGdZEYE">


			<input data-drupal-selector="edit-webform-submission-contact-node-89-add-form-bxrukas9nty" type="hidden" name="form_id" value="webform_submission_contact_node_89_add_form">


			</form>
			</div>

				</div>
				</div>

				<div class="footer__bottom">
			<div class="footer__left"><span>Tiqum © 2007—2023</span></div>
			<div class="footer__right-soc footer__right-soc-mob"><a href="https://www.linkedin.com/company/tiqum/">Linkedin</a><a href="https://www.facebook.com/tiqum.ru">Facebook</a><a href="https://vk.com/tiqumru">VK</a><a href="https://t.me/Tiqum_digital360" target="_blank">Telegram</a><a href="https://instagram.com/tiqum.ru">Instagram</a></div>
			<div class="footer__right">
				<div class="footer__right-soc footer__right-soc-desk"><a href="https://www.linkedin.com/company/tiqum/">Linkedin</a><a href="https://www.facebook.com/tiqum.ru">Facebook</a><a href="https://vk.com/tiqumru">VK</a><a href="https://t.me/Tiqum_digital360" target="_blank">Telegram</a><a href="https://instagram.com/tiqum.ru">Instagram</a></div>
				<div class="footer__right-lang"><a class="active-lang" href="/">Русская версия</a></div>
			</div>
			</div>
			</div>
		</footer>
	a.calc__link.calc__link--circle(href="#") Оставить заявку

block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js")
	script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
	script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
	script(src="js/main.js")
