extends ../layouts/default

block variables
	- const title = "TIQUM";

block content
	.wrapper.main-page
		include ../../blocks/modules/header/header
		.page(style="position:relative" )
			.new-page
				.new-page__image(data-depth='0.2')
					img(src="img/pages/new-page/img.jpg", alt="alt")
				.new-page__header 
					.container
						.flex-lr 
							.flex-lr__left 
							.flex-lr__right 
								.new-page__title-small Дизайн и проектирование <br> интерфейсов
				.new-page__items 
					.new-page__item
						.container
							.flex-lr 
								.flex-lr__left 
									p 01
								.flex-lr__right 
									.new-page__item-title.general-title Создаем умный дизайн, <br>
										span который помогает<br> продавать<br> и увеличивает<br> удовлетворенность<br> клиентов
					.new-page__item
						.container
							.flex-lr 
								.flex-lr__left 
									p 02
								.flex-lr__right 
									.new-page__item-title.general-title Можем превратить любые<br> сложные понятия 
										span и<br> невероятные идеи в<br> красивые, простые и<br> удобные<br> интерфейсы
					.new-page__item
						.container
							.flex-lr 
								.flex-lr__left 
									p 03
								.flex-lr__right 
									.new-page__item-title.general-title Разрабатываем UX-<br>концепции 
										span для улучшения<br> клиентского опыта (СХ)
					.new-page__item
						.container
							.flex-lr 
								.flex-lr__left 
									p 04
								.flex-lr__right 
									.new-page__item-title.general-title Осуществляем дизайн-<br>поддержку проектов,<br> 
										span требующих обновления<br> материалов и функционала
				.new-page__items-small 
					.new-page__item-small
						.container
							.flex-lr 
								.flex-lr__left 
									p Интерфейс для облачной CRM: задачи, сделки, аналитика, контакты
								.flex-lr__right 
									.new-page__title-small Unicloud Business 365
					.new-page__item-small
						.container
							.flex-lr 
								.flex-lr__left 
									p Интерфейс интернет-банка для физических лиц. Концепция дизайна сайта
								.flex-lr__right 
									.new-page__title-small Интернет-банк «Уралсиб»
					.new-page__item-small
						.container
							.flex-lr 
								.flex-lr__left 
									p Интерфейс для веб и мобильного приложения агрегатора фитнес- клубов
								.flex-lr__right 
									.new-page__title-small Onefit

		include ../../blocks/modules/footer/footer

block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
	script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js") 
	script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426") 
	script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js") 
	script(src="js/main.js")
