extends ../layouts/default

block variables
	- const title = "TIQUM";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.trading-area
				.trading-area__hero.hero-trading-area
					.hero-trading-area__container.container 
						.hero-trading-area__flex-lr.flex-lr 
							.hero-trading-area__left.flex-lr__left 
								.hero-trading-area__btns 
									.hero-trading-area__btn Backend
									.hero-trading-area__btn Web
									.hero-trading-area__btn Mobile

							.hero-trading-area__right.flex-lr__right 
								h1.hero-trading-area__title.general-title Электронная торговая площадка (ЭТП)
								.hero-trading-area__labels
									.hero-trading-area__label.hero-trading-area__label-grey 
										img(src="img/svg/grey-label.svg", alt="alt")
									.hero-trading-area__label.hero-trading-area__label-gold 
										img(src="img/svg/bronze.svg", alt="alt")
					.hero-trading-area__img 
						img(src="img/pages/trading-area/hero.jpg", alt="alt")
				.trading-area__project.project-trading-area 
					.project-trading-area__container.container
						.project-trading-area__top.flex-lr 
							.project-trading-area__left.flex-lr__left 
								a(href="#").project-trading-area__link Смотреть проект →
							.project-trading-area__right.flex-lr__right 
								.project-trading-area__title Разработка единого агрегатора торговли республики Башкортостан по 44-ФЗ и 223-ФЗ
						.project-trading-area__items
							.project-trading-area__item.flex-lr 
								.project-trading-area__item-left.flex-lr__left 
								.project-trading-area__item-right.flex-lr__right
									.project-trading-area__item-text.general-text Магазин малых закупок республики Башкортостан (ММЗРБ) – это единый агрегатор торговли республики, на котором публикуются и проводятся торговые процедуры бюджетом до 400 000 рублей по 44-ФЗ, а также коммерческие торги по 223-ФЗ.
									.project-trading-area__item-text.general-text Отличительной особенностью проекта является наличие множества важный интеграций, которые команда Техинформа проводит на высоком системном уровне, обеспечивая надлежащее качество и безопасность оказываемых услуг.
									.project-trading-area__item-img 
										img(src="img/pages/trading-area/1.jpg", alt="alt")
							.project-trading-area__item.flex-lr 
								.project-trading-area__item-left.flex-lr__left 
									.project-trading-area__item-title Интеграция с ЕСИА
								.project-trading-area__item-right.flex-lr__right
									.project-trading-area__item-text.general-text Для регистрации заказчиков и поставщиков была разработана интеграция с единой системой идентификации и аутентификации (ЕСИА, портал Госуслуг). Для этого была зарегистрирована мнемоника разрабатываемой информационной системы (торговой площадки) в системе межведомственного электронного взаимодействия (СМЭВ), а также полностью пройдена сложная, продолжительная и бюрократическая процедура аккредитации в Минкомсвязи России.
									.project-trading-area__item-text.general-text При регистрации заказчику или поставщику достаточно выполнить вход на ЭТП с помощью учетной записи компании в Госуслугах, и все данные автоматически будут перенесены в учетную запись торговой площадки.
									.project-trading-area__item-img-wrapper
										.project-trading-area__item-img 
											img(src="img/pages/trading-area/3.jpg", alt="alt")
										.project-trading-area__item-img 
											img(src="img/pages/trading-area/3.jpg", alt="alt")
							.project-trading-area__item.flex-lr 
								.project-trading-area__item-left.flex-lr__left 
									.project-trading-area__item-title Интеграция с ЕИС zakupki.gov
								.project-trading-area__item-right.flex-lr__right
									.project-trading-area__item-text.general-text 
										|Для проведения торгов по 44-ФЗ была разработана интеграция с единой информационной системой (ЕИС, федеральный Портал Закупок zakupki.gov.ru). С помощью такой интеграции разработанная торговая площадка получает структуру организации заказчика, а также важные параметры, например, лимит малых закупок на текущий год.
							.project-trading-area__item.flex-lr 
								.project-trading-area__item-left.flex-lr__left 
									.project-trading-area__item-title Интерфейс, который не позволяет ошибаться
								.project-trading-area__item-right.flex-lr__right
									.project-trading-area__item-text.general-text Отличительной особенностью торговой площадки является максимальное удобство для всех пользователей (заказчиков и поставщиков).
									.project-trading-area__item-img 
										img(src="img/pages/trading-area/2.jpg", alt="alt")
									.project-trading-area__item-text.general-text Такой уровень удобства интерфейса был достигнут благодаря предварительному глубокому и детальному прототипированию пользовательского интерфейса, и реализации такого сценария использования торговой площадки, при котором для пользователя исключается возможность совершения ошибок, а на каждом этапе работе с ЭТП отображается или запрашивается только нужная в данный момент информация.
						.project-trading-area__bottom.flex-lr
							.project-trading-area__left.flex-lr__left
								.project-trading-area__bottom-title Бронза и серебро на крупнейшем конкурсе digital-решения в восточной европе Tagline 2021 подтверждает актуальность задачи и путь её решения
							.project-trading-area__right.flex-lr__right 
								.project-trading-area__bottom-items 
									.project-trading-area__bottom-item ТОП 1 в разработке
									.project-trading-area__bottom-item ТОП4 в рейтинге эффективности интернет-банков
				.trading-area__next-cases.next-cases-trading-area
					.next-cases-trading-area__container.container 
						.next-cases-trading-area__flex-lr.flex-lr 
							.next-cases-trading-area__flex-left.flex-lr__left 
							.next-cases-trading-area__flex-right.flex-lr__right 
								.next-cases-trading-area__flex-title.general-title 
									|Следующие 
									br
									|кейсы
						.next-cases-trading-area__projects
							.items-projects  
								.item-projects
									a(href="#").item-projects__content.item-projects-content-blue
										figure
											.item-projects__header
												.item-projects__title ATM и терминалы оплаты банка 
												.item-projects__btns 
													.item-projects__btn Backend
													.item-projects__btn Web
													.item-projects__btn Mobile
												.item-projects__text 
													|Интерфейс и верстка экранов для 
													br
													|банкоматов NCR, WinCor, Nautilus и 
													br
													|платежных терминалов
											.item-projects__img 
												img(src="img/item-projects/atm.png", alt="alt")
								.item-projects
									a(href="#").item-projects__content.item-projects-content-grey-dark
										figure
											.item-projects__header
												.item-projects__title Romeks 
												.item-projects__btns 
													.item-projects__btn Backend
													.item-projects__btn Web
													.item-projects__btn Mobile
												.item-projects__text 
													|Сайты застройщика Ромекс 
													br
													|Девелопмент
											.item-projects__img 
												img(src="img/item-projects/romeks.png", alt="alt")

		include ../../blocks/modules/footer/footer

block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
	script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js") 
	script(src="js/main.js")
