extends ../layouts/default

block variables
    - const title = "TIQUM";

block content
    .wrapper
        .page
            .container
                .type-kit
                    .type-kit__row
                        .type-kit__col H1
                        .type-kit__col
                            .h1 Создаем веб-сервисы и&nbsp;мобильные приложения для цифровой трансформации 360° бизнеса и госучреждений

                    .type-kit__row
                        .type-kit__col H2
                        .type-kit__col
                            .h2 Создаем веб-сервисы и&nbsp;мобильные приложения для цифровой трансформации 360° бизнеса и госучреждений
                    .type-kit__row
                        .type-kit__col H3
                        .type-kit__col
                            .h3 Создаем веб-сервисы и&nbsp;мобильные приложения для цифровой трансформации 360° бизнеса и госучреждений
                    .type-kit__row
                        .type-kit__col B1
                        .type-kit__col
                            .b1 Создаем веб-сервисы и&nbsp;мобильные приложения для цифровой трансформации 360° бизнеса и госучреждений
                    .type-kit__row
                        .type-kit__col B2
                        .type-kit__col
                            .b2 Создаем веб-сервисы и&nbsp;мобильные приложения для цифровой трансформации 360° бизнеса и госучреждений
block scripts
    script(src="https://code.jquery.com/jquery-3.6.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="js/main.js")
