.about-page {
	.general-title{
		color: #2A2A2A;
	}
	.flex-lr{
		@media (max-width: 767px) {
			.flex-lr__right{
				flex: 1 0 100%;
			}
		}
	}
	&__block{
		padding-bottom: 30px;
		@media (max-width: 1919px) {
			padding-bottom: 18px;
		}
		@media (max-width: 1439px) {
			padding-bottom: 15px;
		}
		@media (max-width: 1024px) {
			padding-bottom: 1.95vw;
		}
		@media (max-width: 767px) {
			padding-bottom: 4.0625vw;
		}
	}
	&__gray{
		.container{
			padding-top: 30px;
			@media (max-width: 1919px) {
				padding-top: 18px;
			}
			@media (max-width: 1439px) {
				padding-top: 15px;
			}
			@media (max-width: 1024px) {
				padding-top: 1.95vw;
			}
			@media (max-width: 767px) {
				padding-top: 4.0625vw;
			}
		}
	}
	&__confirm{
		padding-top: 220px;
		@media (max-width: 1919px) {
			padding-top: 165px;
		}
		@media (max-width: 1439px) {
			padding-top: 113px;
		}
		@media (max-width: 1024px) {
			padding-top: 14.7135vw;
		}
		@media (max-width: 767px) {
			padding-top: 18.75vw;
		}
		padding-bottom: 0;
		.confirm__items{
			padding-top: 0;
		}
		.confirm__item{
			@media (max-width: 1024px) {
				color: #000000;
			}
		}
		.confirm__item-right{
			@media (max-width: 1024px) {
				justify-content: flex-start;
			}
		}
	}
	&__clients{
		padding-top: 30px;
		@media (max-width: 1919px) {
			padding-top: 18px;
		}
		@media (max-width: 1439px) {
			padding-top: 15px;
		}
		@media (max-width: 1024px) {
			padding-top: 1.95vw;
		}
		@media (max-width: 767px) {
			padding-top: 4.0625vw;
		}
		&-title{
			.about-page__text{
				margin-top: 220px;
				@media (max-width: 1919px) {
					margin-top: 165px;
				}
				@media (max-width: 1439px) {
					margin-top: 113px;
				}
				@media (max-width: 1024px) {
					margin-top: 14.7135vw;
				}
				@media (max-width: 767px) {
					margin-top: 18.75vw;
				}
			}
		}
		&-grid{
			margin-top: 30px;
			@media (max-width: 1919px) {
				margin-top: 18px;
			}
			@media (max-width: 1439px) {
				margin-top: 15px;
			}
			@media (max-width: 1024px) {
				margin-top: 1.95vw;
			}
			@media (max-width: 767px) {
				margin-top: 4.0625vw;
			}
		}
	}

	&__team{
		padding-top: 30px;
		@media (max-width: 1919px) {
			padding-top: 18px;
		}
		@media (max-width: 1439px) {
			padding-top: 15px;
		}
		@media (max-width: 1024px) {
			padding-top: 1.95vw;
		}
		@media (max-width: 767px) {
			padding-top: 4.0625vw;
		}
		&-title{
			@media (max-width: 767px) {
				.flex-lr__left{
					display: none;
				}
				.flex-lr__right{
					width: 100%;
				}
			}
		}
		&-content{
			margin-top: 220px;
			@media (max-width: 1919px) {
				margin-top: 165px;
			}
			@media (max-width: 1439px) {
				margin-top: 113px;
			}
			@media (max-width: 1024px) {
				margin-top: 14.7135vw;
			}
			@media (max-width: 767px) {
				margin-top: 18.75vw;
			}

			@media (max-width: 767px) {
				display: block;
				.flex-lr__left{
					display: none;
				}
				.flex-lr__right{
					width: 100%;
				}
			}
		}
		&-text{
			font-family: 'Suisse Intl';
			font-style: normal;
			font-size: 36px;
			line-height: 110%;
			letter-spacing: -0.03em;
			color: #2A2A2A;
			padding-right: 55px;
			@media (max-width: 1919px) {
				font-size: 24px;
				padding-right: 45px;
			}
			@media (max-width: 1439px) {
				font-size: 20px;
				padding-right: 35px;
			}
			@media (max-width: 1024px) {
				font-size: 1.953125vw;
			}
			@media (max-width: 767px) {
				padding-right: 0;
				font-size: 6.25vw;
			}
		}
		&-grid{}
		&-full{
			width: 100%;
			margin-top: 220px;
			@media (max-width: 1919px) {
				margin-top: 165px;
			}
			@media (max-width: 1439px) {
				margin-top: 113px;
			}
			@media (max-width: 1024px) {
				margin-top: 1.953125vw;
			}
			@media (max-width: 767px) {
				margin-top: 4.6875vw;
			}
			img{
				width: 100%;
			}
		}
	}

	&__next-cases{
		padding-top: 30px;
		@media (max-width: 1919px) {
			padding-top: 18px;
		}
		@media (max-width: 1439px) {
			padding-top: 15px;
		}
		@media (max-width: 1024px) {
			padding-top: 1.953125vw;
		}
		@media (max-width: 767px) {
			padding-top: 4.6875vw;
		}
		.general-title{
			display: flex;
			justify-content: space-between;
			span{
				&:nth-child(1){
					color: #2A2A2A;
				}
				&:nth-child(2){
					color: #000000;
					opacity: 0.2;
				}
			}
			@media (max-width: 767px) {
				&::after{
					display: none;
				}
			}
		}
	}
}

.clients-grid{
	padding: 0 12px;
	background: #F5F5F5;
	@media (max-width: 1919px) {
		padding: 0 5px;
	}
	@media (max-width: 1439px) {
		padding: 0 16px;
	}
	@media (max-width: 1024px) {
		padding: 0 1.953125vw;
	}
	@media (max-width: 767px) {
		padding: 0 5.625vw;
	}
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__item{
		box-sizing: border-box;
		width: 25%;
		padding: 0 19px;
		@media (max-width: 1919px) {
		}
		@media (max-width: 1439px) {
			padding: 0 13px;
		}
		@media (max-width: 1024px) {
			padding: 0 1.953125vw;
			width: 33.3333%;
		}
		@media (max-width: 767px) {
			padding: 0 1.875vw;
			width: 50%;
		}
		&-inner{
			height: 200px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			@media (max-width: 1919px) {
				height: 150px;
			}
			@media (max-width: 1439px) {
				height: 100px;
			}
			@media (max-width: 1024px) {
				height: 13.02vw;
			}
			@media (max-width: 767px) {
				height: 31.25vw;
			}
			img{
				max-width: 100%;
				max-height: 95%;
				display: block;
				object-fit: contain;
			}
		}
		&:nth-last-child(1),
		&:nth-last-child(2){
			.clients-grid__item-inner{
				border: 0;
			}
		}
		@media (min-width: 768px) {
			&:nth-last-child(3){
				.clients-grid__item-inner{
					border: 0;
				}
			}
		}
		@media (min-width: 1024px) {
			&:nth-last-child(4){
				.clients-grid__item-inner{
					border: 0;
				}
			}
		}


		&--1{
			img{
				width: 208px;
				@media (max-width: 1919px) {
					width: 148px;
				}
				@media (max-width: 1439px) {
					width: 103px;
				}
				@media (max-width: 1024px) {
					width: 13.28vw;
				}
				@media (max-width: 767px) {
					width: 29.0625vw;
				}
			}
		}
		&--2{
			img{
				width: 240px;
				@media (max-width: 1919px) {
					width: 172px;
				}
				@media (max-width: 1439px) {
					width: 119px;
				}
				@media (max-width: 1024px) {
					width: 15.23vw;
				}
				@media (max-width: 767px) {
					width: 33.4375vw;
				}
			}
		}
		&--3{
			img{
				width: 224px;
				@media (max-width: 1919px) {
					width: 160px;
				}
				@media (max-width: 1439px) {
					width: 111px;
				}
				@media (max-width: 1024px) {
					width: 14.322vw;
				}
				@media (max-width: 767px) {
					width: 26.98125vw;
				}
			}
		}
		&--4{
			img{
				width: 155px;
				@media (max-width: 1919px) {
					width: 110px;
				}
				@media (max-width: 1439px) {
					width: 76px;
				}
				@media (max-width: 1024px) {
					width: 9.7656vw;
				}
				@media (max-width: 767px) {
					width: 17.5vw;
				}
			}
		}
		&--5{
			img{
				width: 233px;
				@media (max-width: 1919px) {
					width: 166px;
				}
				@media (max-width: 1439px) {
					width: 116px;
				}
				@media (max-width: 1024px) {
					width: 14.84375vw;
				}
				@media (max-width: 767px) {
					width: 28.125vw;
				}
			}
		}
		&--6{
			img{
				width: 285px;
				@media (max-width: 1919px) {
					width: 204px;
				}
				@media (max-width: 1439px) {
					width: 141px;
				}
				@media (max-width: 1024px) {
					width: 18.099vw;
				}
				@media (max-width: 767px) {
					width: 35.3125vw;
				}
			}
		}
		&--7{
			img{
				width: 240px;
				@media (max-width: 1919px) {
					width: 172px;
				}
				@media (max-width: 1439px) {
					width: 120px;
				}
				@media (max-width: 1024px) {
					width: 15.3645vw;
				}
				@media (max-width: 767px) {
					width: 30.9375vw;
				}
			}
		}
		&--8{
			img{
				width: 356px;
				@media (max-width: 1919px) {
					width: 254px;
				}
				@media (max-width: 1439px) {
					width: 176px;
				}
				@media (max-width: 1024px) {
					width: 22.65625vw;
				}
				@media (max-width: 767px) {
					width: 34.375vw;
				}
			}
		}
		&--9{
			img{
				width: 195px;
				@media (max-width: 1919px) {
					width: 139px;
				}
				@media (max-width: 1439px) {
					width: 97px;
				}
				@media (max-width: 1024px) {
					width: 12.3697vw;
				}
				@media (max-width: 767px) {
					width: 24.375vw;
				}
			}
		}
		&--10{
			img{
				width: 180px;
				@media (max-width: 1919px) {
					width: 129px;
				}
				@media (max-width: 1439px) {
					width: 93px;
				}
				@media (max-width: 1024px) {
					width: 11.849vw;
				}
				@media (max-width: 767px) {
					width: 21.875vw;
				}
			}
		}
		&--11{
			img{
				width: 158px;
				@media (max-width: 1919px) {
					width: 113px;
				}
				@media (max-width: 1439px) {
					width: 78.3px;
				}
				@media (max-width: 1024px) {
					width: 10.026vw;
				}
				@media (max-width: 767px) {
					width: 21.875vw;
				}
			}
		}
		&--12{
			img{
				width: 174px;
				@media (max-width: 1919px) {
					width: 124px;
				}
				@media (max-width: 1439px) {
					width: 86px;
				}
				@media (max-width: 1024px) {
					width: 11.0677vw;
				}
				@media (max-width: 767px) {
					width: 20.3125vw;
				}
			}
		}
	}
}

.team-grid{
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		margin-top: -15px;
		@media (max-width: 1919px) {
			margin-top: -12px;
		}
		@media (max-width: 1439px) {
			margin-top: -8px;
		}
		@media (max-width: 1024px) {
			margin-top: -1.0416vw;
		}
		@media (max-width: 767px) {
			margin-top: -4.6875vw;
		}
	}
	&__item{
		width: calc((100% - 15px)/2);
		margin-right: 15px;
		padding-top: 15px;
		@media (max-width: 1919px) {
			padding-top: 12px;
			margin-right: 12px;
			width: calc((100% - 12px)/2);
		}
		@media (max-width: 1439px) {
			padding-top: 8px;
			margin-right: 8px;
			width: calc((100% - 8px)/2);
		}
		@media (max-width: 1024px) {
			padding-top: -1.0416vw;
			margin-right: 1.0416vw;
			width: calc((100% - 1.0416vw)/2);

		}
		@media (max-width: 767px) {
			width: 100%;
			padding-top: 4.6875vw;
			margin-right: 0;
		}
		@media (min-width: 768px) {
			&:nth-child(even){
				margin-right: 0;
			}
		}

		&-inner{
			width: 100%;
			padding-bottom: 100%;
			position: relative;
			z-index: 2;
		}
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
		&-text{
			padding: 15px;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			@media (max-width: 1919px) {
				padding: 11px;
			}
			@media (max-width: 1439px) {
				padding: 8px;
			}
			@media (max-width: 1024px) {
				padding: 1.1718vw;
			}
			@media (max-width: 767px) {
				padding: 2.8125vw;
			}
		}
		&-name{
			font-family: 'Suisse Intl';
			font-size: 32px;
			line-height: 120%;
			letter-spacing: -0.03em;
			color: #000000;
			margin-bottom: 15px;
			@media (max-width: 1919px) {
				font-size: 24px;
				margin-bottom: 10px;
			}
			@media (max-width: 1439px) {
				font-size: 17px;
				margin-bottom: 7px;
			}
			@media (max-width: 1024px) {
				font-size: 1.66015625vw;
				margin-bottom: 1.0416vw;
			}
			@media (max-width: 767px) {
				font-size: 5vw;
				margin-bottom: 1.25vw;
			}
		}
		&-post{
			font-family: 'Suisse Intl';
			font-size: 20px;
			line-height: 120%;
			letter-spacing: -0.03em;
			color: #000000;
			@media (max-width: 1919px) {
				font-size: 14px;
			}
			@media (max-width: 1439px) {
				font-size: 10px;
			}
			@media (max-width: 1024px) {
				font-size: 0.9765625vw;
			}
			@media (max-width: 767px) {
				font-size: 3.125vw;
			}
		}

		&-content{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: flex-start;
			font-family: 'Suisse Intl';
			font-weight: 400;
			font-size: 36px;
			line-height: 110%;
			letter-spacing: -0.03em;
			color: #2A2A2A;
			@media (min-width: 1920px) {
				max-width: 580px;
			}
			@media (max-width: 1919px) {
				font-size: 24px;
			}
			@media (max-width: 1439px) {
				font-size: 20px;
			}
			@media (max-width: 1024px) {
				font-size: 1.953125vw;
			}
			@media (max-width: 767px) {
				font-size: 6.25vw;
			}
			>*+*{
				margin-top: 18px;
				@media (max-width: 1439px) {
					margin-top: 28px;
				}
				@media (max-width: 1024px) {
					margin-top: 3.6458vw;
				}
				@media (max-width: 767px) {
					margin-top: 4.6875vw;
				}
			}
			a{
				color: #0047FF;
				@media (min-width: 1920px) {
					font-size: 24px;
					line-height: 108.8%;
					letter-spacing: -0.03em;
					margin-top: 30px;
				}
			}
		}
		&--text{
			@media (max-width: 1024px) {
				padding-top: 0;
				.team-grid__item-inner{
					padding: 0;
				}
				.team-grid__item-content{
					position: static;
					padding-top: 11.0677vw;
					max-width: 39.1927vw;
				}
			}

			@media (max-width: 767px) {
				order: 10;
				padding-top: 0;
				.team-grid__item-content{
					padding-top: 25vw;
					max-width: 100%;
				}
			}
		}
		&--mobile{
			display: none;

			@media (max-width: 767px) {
				display: block;
				order: -1;
				.team-grid__item-inner{
					padding: 0;
				}
				.team-grid__item-content{
					position: static;
				}
			}
			.team-grid__item-content{
				justify-content: flex-start;
			}
		}
	}
}