.calc-page {


	font-family: "Suisse Intl";
	// .container {
	// 	padding: 0 30px;
	// 	@media (max-width: 576px) {
	// 		padding: 0 20px;
	// 	}
	// }
	.h1 {
		font-style: normal;
		font-weight: 400;
		font-size: 80px;
		line-height: 90%;
		letter-spacing: -0.03em;
		@media (max-width: 1919px) {
			font-size: 80px;
			line-height: 90%;

		}
		@media (max-width: 1439px) {
			font-size: 60px;
			line-height: 95%;

		}
		@media (max-width: 1023px) {
			font-size: 3.90625vw;
			line-height: 100%;
		}
		@media (max-width: 767px) {
			font-size: 7.03125vw;
			line-height: 95%;
		}
		@media (max-width: 767px) {
			font-size: 7.5vw;
			line-height: 95%;
		}

	}
	.h2 {
		@media (max-width: 1919px) {
			font-size: 48px;
			line-height: 110%;

		}
		@media (max-width: 1439px) {
			font-size: 36px;
			line-height: 110%;

		}
		@media (max-width: 1023px) {
			font-size: 2.734375vw;
			line-height: 110%;
		}
		@media (max-width: 767px) {
			font-size: 3.645833333333333vw;
			line-height: 110%;
		}
		@media (max-width: 767px) {
			font-size: 6.25vw;
			line-height: 110%;
		}
	}
	.h3 {
		font-family: 'Suisse Intl';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #2A2A2A;
		@media (max-width: 1919px) {
			font-size: 32px;
			line-height: 110%;

		}
		@media (max-width: 1439px) {
			font-size: 24px;
			line-height: 110%;

		}
		@media (max-width: 1023px) {
			font-size: 2.34375vw;
			line-height: 110%;
		}
		@media (max-width: 767px) {
			font-size: 3.125vw;
			line-height: 110%;
		}
		@media (max-width: 767px) {
			font-size: 5vw;
			line-height: 110%;
		}

	}
	.b2 {

	}
	.b24 {
		font-family: 'Suisse Intl';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 110%;
		color: #2A2A2A; 
		@media (max-width: 1023px) {
			font-size: 1.7578125vw;
			line-height: 135%;
		}
		@media (max-width: 767px) {
			font-size: 5vw;
			line-height: 135%;
		}
	}
	&--title {
		color: #2A2A2A;
		&-label {
			opacity: 0.2;
			// @media (max-width: 1023px) {
			// 	font-size: vw(40);
			// 	line-height: 110%;
			// }
			// @media (max-width: 767px) {
			// 	line-height: 95%;
			// 	font-size: vw2(54);
			// }
			// @media (max-width: 374px) {
			// 	line-height: 95%;
			// 	font-size: vw4(24);
			// }

		}
		@media (max-width: 320px) {
			margin-right: 10px;
			br {
				display: none;
			}
		}
	}
	&--advice {
		@media (max-width: 1023px) {
			font-size: 14px;
			line-height: 16px;
		}
		@media (max-width: 767px) {
			display: none;
		}

	}
	.page-header {
		min-height: 399px;

		.flex-lr__right {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		@media (max-width: 1439px) {
			padding-top: 21px;
			min-height: 300px;
		}
		@media (max-width: 1023px) {
			padding-top: 15px;
			min-height: 208px;
		}
		@media (max-width: 767px) {
			padding-top: 30px;
			padding-bottom: 90px;
			min-height: 208px;
			border-top: 1px solid rgba(0, 0, 0, 0.2);
		}
		@media (max-width: 767px) {
			padding-top: 10px;
			padding-bottom: 65px;
			min-height: auto;
		}

	}
	.flex-lr {
		.flex-lr__left {
			padding-right: 38px;
			@media (max-width: 1023px) {
				padding-right: 30px;
			}
		}
	}

	&__block {
		&--checkbox {
			.calc-page__underBlok {
				.calc-page--subtitle {
					@media (max-width: 1023px) {
						padding-left: 0;
					}
					@media (max-width: 767px) {
						padding-left: 12.5vw;
					}
				}
				.calc-page--twotitle {
					@media (max-width: 767px) {
						padding-left: 12.5vw;
					}
				}
				.calc-page--treetitle {
					@media (max-width: 767px) {
						padding-left: 12.5vw;
					}
				}
				@media (max-width: 767px) {
					padding-bottom: 60px;
				}
				@media (max-width: 767px) {
					padding-bottom: 40px;
				}
			}

			.calc-page--subtitle {
				margin-bottom: 20px;
				@media (max-width: 1023px) {
					flex: 1 0 auto;
				}
				@media (max-width: 767px) {
					padding-left: 30px;
				}
				@media (max-width: 767px) {
					margin-bottom: 0;
				}
			}
			.calc-page--twotitle {
				margin-bottom: 30px;
			}
			.calc-page--twotitle {
				opacity: 0.4;
				@media (max-width: 767px) {
					padding-left: 30px;
				}
				@media (max-width: 767px) {
					margin-bottom: 9.375vw;
				}
			}
			.calc-page--treetitle {
				height: 0;
				visibility: hidden;
				opacity: 0;
				@media (max-width: 767px) {
					padding-left: 30px;
				}
				@media (max-width: 767px) {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			.flex-lr__left {
				.calc-page__underBlok {
					@media (max-width: 767px) {
						min-height: auto;
						padding-bottom: 20px;
						border-top: none;
					}
					@media (max-width: 767px) {
						padding-bottom: 10px;
					}

				}
			}
		}
		&--team {
			padding-bottom: 50px;
			.calc-page--subtitle {
				padding-left: 0;
				flex: 1 0 auto
			}
			.flex-lr__left {
				.calc-page__underBlok {

					@media (max-width: 767px) {
						min-height: 100px;
						align-items: flex-start;
						border-top: none;
						padding-bottom: 10px;
					}
					.calc-page--text.h3 {
						@media (max-width: 767px) {
							max-width: 62.5vw;
						}
					}
				}
			}
			.calc-page__underBlok {
				min-height: 180px;
				@media (max-width: 1439px) {
					min-height: 140px;
				}
				@media (max-width: 1023px) {
					min-height: 110px;
				}

				@media (max-width: 767px) {
					min-height: 62px;
				}
			}
			.accordion__intro {
				@media (max-width: 767px) {
					flex-flow: column nowrap;
					justify-content: flex-start;
					align-items: flex-start;
				}
				.numberPeople {
					@media (max-width: 767px) {
						padding-left: 0;
						margin-top: 20px;
					}					
				}
			}

		}
		&--whatLaunching {
			.calc-page__underBlok {
				padding-bottom: 60px;
				@media (max-width: 767px) {
					padding-bottom: 12.5vw;
				}
			}

			.flex-lr__right .h3 {
				@media (max-width: 767px) {
					font-size: 6.25vw;
				}

			}
		}
		&--Additionally {
			.calc-page__underBlok--left {
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			.calc-page__underBlok {
				@media (max-width: 767px) {
					padding-bottom: 60;
				}
			}
			.calc-page--subtitle.b1, .calc-page__underBlok--cost.b1{
				font-family: 'Suisse Intl';
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 32px;
				@media (max-width: 767px) {
					width: 100%;
					max-width: 100%;
				}
				@media (max-width: 767px) {
					font-size: 5vw;
					line-height: 135%;
				}
			}
			.calc-page__underBlok--cost.b1 {
				white-space: nowrap;
				@media (max-width: 767px) {
					text-align: right;
					width: 100%;
					display: block;
				}
				@media (max-width: 767px) {
					display: none;
				}
			}
			.calc-page--twotitle.b2 {
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				@media (max-width: 1023px) {
					font-size: 1.3671875vw;
					line-height: 135%;
				}
				@media (max-width: 767px) {
					width: 100%;
					max-width: 100%;
					font-size: 4.375vw;
				}
			}

		}
		&--text {
			padding-bottom: 150px;
			@media (max-width: 1439px) {
				padding-bottom: 80px;
			}
			@media (max-width: 1023px) {
				padding-bottom: 40px;
			
			}
			@media (max-width: 767px) {
				padding-bottom: 20px;
			
			}
			.flex-lr__left {
				@media (max-width: 767px) {
					display: none;
				
				}
			}
			.flex-lr__right {
				@media (max-width: 767px) {
					margin-top: 40px;
				
				}
				.calc-page__underBlok {
					border-top: none;
					min-height: auto;
					padding-right: 20px;
					&:first-child {
						border-top: 1px solid rgba(0, 0, 0, 0.2);
					}
					@media (max-width: 767px) {
						padding-bottom: 30px;
						padding-right: 0;
					}
				}
			}
			.calc-page__underBlok--left	 {
				width: 100%;
				.calc-page--subtitle{
					width: 100%;
					max-width: 880px;
					margin-right: 0;
					@media (max-width: 1439px) {
						max-width: 558px;
					}
					@media (max-width: 1023px) {
						flex: 1 0 auto;
						padding-left: 0;
					
					}
			
				}
				.calc-page--twotitle.b24 {
					opacity: 0.4;
					padding-top: 20px;
					width: 100%;
					max-width: 491px;
					@media (max-width: 767px) {
						margin-top: 0px;
						padding-left: 0;
					
					}
				}
			}
		}
		&--Discovery  {
			padding-bottom: 80px;
			@media (max-width: 1439px) {
				padding-bottom: 70px;
			
			}
			@media (max-width: 1023px) {
				padding-bottom: 43px;
			
			}
			@media (max-width: 767px) {
				padding-bottom: 60px;
			
			}
			@media (max-width: 767px) {
				padding-bottom: 35px;
			
			}
		}
		&--team-secvice{
			padding-bottom: 131px;
			@media (max-width: 1439px) {
				padding-bottom: 70px;
			
			}
			@media (max-width: 1023px) {
				padding-bottom: 33px;
			
			}
			@media (max-width: 767px) {
				padding-bottom: 40px;
			
			}
			@media (max-width: 767px) {
				padding-bottom: 35px;
			
			}
			.flex-lr__left {
				.calc-page--text.h3 {
					max-width: 437px;
				}
			}
		}


		&.hidden{
			display: none;
		}

	}
	.calc-page__block--text.calc-page__block--Discovery  {
		.calc-page--subtitle {
			max-width: 910px;
			@media (max-width: 1439px) {
				max-width: 667px;
			
			}
		}
		.calc-page--twotitle.b24 {
			padding-top: 40px;
			opacity: 1;
			max-width: 910px;
			@media (max-width: 1439px) {
				max-width: 664px;
			
			}
			@media (max-width: 767px) {
				max-width: 462px;
			
			}

		}
		.flex-lr__right {
			@media (max-width: 767px) {
				margin-top: 0px;
			
			}
		}
		.flex-lr__left {
			display: flex;
			.calc-page__underBlok {
				@media (max-width: 767px) {
					margin-top: 40px;
					min-height: auto;
					align-items: flex-end;
					border-top: none;
					padding-bottom: 20px;
				}
				@media (max-width: 767px) {
					min-height: 100px;
					align-items: flex-start;
					border-top: none;
					padding-bottom: 10px;
				}
				.calc-page--text.h3 {
					@media (max-width: 767px) {
						max-width: 200px;
					}
				}
			}
		}
	}
	&__underBlok {
		position: relative;
		display: flex;
		width: 100%;
		min-height: 190px;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 20px;
		padding-bottom: 40px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		.numberPeople {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			padding-left: 20px;
			cursor: default;
			&--perv {
				position: relative;
				display: flex;
				height: 24px;
				justify-content: center;
				align-items: center;
				font-style: normal;
				font-weight: 400;
				font-size: 32px;
				line-height: 0px;
				color: #D9D9D9;
			}
			&--next {
				position: relative;
				display: flex;
				height: 24px;
				justify-content: center;
				align-items: center;
				font-style: normal;
				font-weight: 400;
				font-size: 32px;
				line-height: 0px;
				color: #D9D9D9;
			}
			&--title {
				position: relative;
				display: block;
				width: 50%;
				@media (max-width: 767px) {
					width: auto;
				}
			}
			&--count {
				position: relative;
				display: flex;
				height: 24px;
				justify-content: center;
				align-items: center;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 0px;
				color: #2A2A2A;
				margin-right: 20px;
				margin-left: 20px;
				cursor: default;
				user-select: none;
			}

			&--perv,
			&--next{
				cursor: pointer;
				&:hover{
					svg{
						rect{
							fill: #95B2FD !important;
						}
					}
				}
				&:active{
					svg{
						rect{
							fill: #0047FF !important;
						}
					}
				}
				&.hidden{
					opacity: 0;
					pointer-events: none;
					cursor: default;
				}
			}
		}
		@media (max-width: 1023px) {
			padding-top: 15px;
		}

		&.active {
			/*@media (max-width: 767px) {
				padding-bottom: 12.5vw;
			}*/
			.calc-page--subtitle {
				color: #0047FF;
				&.h2 {
					svg {
						@media (max-width: 767px) {
							top: 1.2vw;
							width: 5vw;
							height: 5vw;
						}
					}
				}
			}
			.calc-page--twotitle {
				opacity: 1;
			}
			.calc-page--treetitle {
				transition: all .5s;
				height: auto;
				visibility: inherit;
				opacity: 0.4;
				@media (max-width: 767px) {
					margin-bottom: vw2(40);
				}
			}
			.calc-page__underBlok--cost {
				opacity: 1;
			}
		}
		&--accordion {
			min-height: 90px !important;
			padding-bottom: 0;
			@media (max-width: 1023px) {
				min-height: 60px !important;
			}
			.b1 {
				font-family: 'Suisse Intl';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 32px;
				color: #2A2A2A;
				@media (max-width: 1023px) {
					font-size: 1.7578125vw;
					line-height: 135%;
				}
				@media (max-width: 767px) {
					font-size: 5vw;
					line-height: 135%;
				}				
			}
			&.disabled{
				.accordion__intro{
					.numberPeople--count,
					.numberPeople--title{
						opacity: 0.4;
					}
				}
			}
		}
		&--cost {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			opacity: 0.4;
			padding-left: 100px;
			font-style: normal;
			font-weight: 400;
			color: #2A2A2A;
			@media (max-width: 1440px) {
				padding-left: 70px;
			}
			@media (max-width: 767px) {
				display: none;

			}
		}
		&--left {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			
		}
		&--right {
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-flow: column nowrap;
			flex: 1 1 auto
		}
		&--animation {
			position: relative;
			display: block;
			width: 594px;
			height: 320px;
			@media (max-width: 1439px) {
				width: vw0(477);
				height: vw0(256);
			}
			@media (max-width: 1300px) {
				width: 332px;
				height: 179px;
			}
			@media (max-width: 1023px) {
				width: vw(332);
				height:vw(179);
			}
			@media (max-width: 767px) {
				width: vw2(338);
				height: vw2(182);
			}
			@media (max-width: 767px) {
				width: 280px;
				height: 150px;
			}
			img {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
			}
			.lotte{
				width:100%;
				height:100%;
				display:block;
				overflow: hidden;
				transform: translate3d(0,0,0);
				text-align: center;
				opacity: 1;
			}
		}
		@media (max-width: 767px) {
			min-height: auto !important;
			flex-flow: column nowrap;
			padding-top: 10px;
			min-height: auto;
		}
		&:hover {
			.calc-page--subtitle {
				svg {
					transition: all .5s;
					opacity: 1;
				}
			}
			&.calc-page__underBlok--service .calc-page--treetitle{
				opacity: 1;
			}
		}
		@media (max-width: 1439px) {
			min-height: 170px;
		}
		@media (max-width: 1023px) {
			min-height: 150px;
		}


		label{
			cursor: pointer;
			user-select: none;
		}

		&--service{
			cursor: pointer;
			transition: opacity .4s, min-height .4s;
			user-select: none;
			justify-content: flex-start;
			&.collapsed{
				min-height: 0 !important;
				opacity: 0;
			}
			.calc-page--subtitle {
				display: flex;
				position: relative;
				justify-content: flex-start;
				align-items: flex-start;
				margin-right: 0;
				width: 50%;
				@media (max-width: 1439px) {
					width: 52%;
				}
				@media (max-width: 1023px) {
					width: 45%;
				}
				@media (max-width: 767px) {
					width: 50%;
				}
				@media (max-width: 767px) {
					width: 100%;
					padding-left: 11.25vw;
					padding-right: 10px;
				}
			}
			.calc-page--treetitle {
				display: flex;
				position: relative;
				justify-content: flex-start;
				align-self: flex-start;
				align-items: flex-start;
				width: 50%;
				padding-left: 44px;
				max-width: 431px;
				transition: all .5s;
				@media (max-width: 1439px) {
					padding-left: 24px;
					width: 48%;
					max-width: 411px;
				}
				@media (max-width: 1023px) {
					padding-left: 14px;
					width: 55%;
					max-width: 100%;
				}

				@media (max-width: 767px) {
					width: 100%;
					max-width: 100%;
					padding-left: 11.25vw;
					padding-right: 0;
				}

			}
			&.opacity{
				opacity: 0.4;
			}
			&.active{
				cursor: default;
				.calc-page--subtitle {
					color: #0047FF;
					@media (max-width: 1023px) {
						padding-left: 0;
					}
					@media (max-width: 767px) {
						padding-left: 11.25vw;
					}
					svg {
						opacity: 1;
						[stroke="#2A2A2A"]{
							stroke: #0047FF !important;
						}
						@media (max-width: 1023px) {
							left: -50px;
						}
						@media (max-width: 767px) {
							position: absolute;
							left: 0;
							top: 0;
							width: 20px;
						}
					}

				}
				&.calc-page__underBlok--service .calc-page--treetitle{
					opacity: 1;
				}
			}
		}
	}
	&--text {
		position: relative;
		width: 100%;
		max-width: 300px;
		color: #2A2A2A;
		span {
			opacity: 0.4;
			@media (max-width: 767px) {
				display: none;
			}
		}
		@media (max-width: 1439px) {
			max-width: 240px;
		}
		@media (max-width: 1023px) {
			max-width: 24.94921875vw;
		}
		@media (max-width: 767px) {
			max-width: 39.63020833333333vw;
		}
		&.js-calc-allServices{
			color: #0047FF;
			max-width: 380px;
			@media (max-width: 1439px) {
				max-width: 165px;
			}
			@media (max-width: 1023px) {
				max-width: 17vw;
			}
			@media (max-width: 767px) {
				max-width: 100%;
			}
		}


	}
	&--subtitle {
		position: relative;
		display: block;
		color: #2A2A2A;
		min-width: 285px;
		margin-right: 44px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row wrap;


		@media (max-width: 1023px) {
			padding-left: 40px;
			padding-right: 7px;

		}
		@media (max-width: 767px) {
			padding-left: vw2(23);

		}
		svg {
			position: absolute;
			left: -72px;
			top: 10px;
			display: block;
			opacity: 0;
			width: 35px;
			@media (max-width: 1439px) {
				position: absolute;
				top: 0;

			}
			@media (max-width: 1023px) {
				position: absolute;
				left: 0;
				top: -0.4vw;
				width: 20px;
				opacity: 1;

			}
			@media (max-width: 767px) {
				width: 5vw;
				top: 1.2vw;
				height: 5vw;
			}
			// @media (max-width: 460px) { 
			// 	width: vw3(20);
			// 	top: vw3(-8);
			// }
			// @media (max-width: 374px) { 
			// 	width: vw3(20);
			// 	top: vw3(-10);
			// }
		}
		input[type='checkbox']:checked {
			background-color: #0047FF;
			border: 1px solid #0047FF;
		}
		input[type='checkbox']:checked:after {
			content: '';
		}
		input[type='checkbox']{
			position: absolute;
			left: -65px;
			top: 3px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 23px;
			text-align: center;
			appearance:none;
			display: block;
			opacity: 1;
			width: 26px;
			height: 26px;
			min-width: 26px;
			min-height: 26px;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.2);;
			@media (max-width: 1023px) {
				left: -50px;
				width: 20px;
				height: 20px;
				min-width: 20px;
				min-height: 20px;
			}

			@media (max-width: 767px) {
				position: absolute;
				left: 0;
				top: 0.7vw;
				width: 5.625vw;
				height: 5.625vw;
				min-width: 18px;
				min-height: 18px;
				font-size: 16px;
			}

		}
		@media (max-width: 1023px) {
			line-height: 110%;
			flex: 1 0 240px;
			font-size: 28px;
			//line-height: 110%;
			min-width: auto;
		}
		@media (max-width: 767px) {
			width: 100%;
			min-width: auto;
			line-height: 110%;
		}

		@media (max-width: 767px) {
			line-height: 110%;
			font-size: vw2(20);
			flex: 1 0 auto;
		}



		&-block{
			display: block;
		}
	}
	&--twotitle {
		position: relative;
		display: block;
		width: 100%;
		max-width: 387px;
		color: #2A2A2A;
		font-size: 18px;
		line-height: 26px;
		font-style: normal;
		font-weight: 400;
		@media (max-width: 1023px) {
			flex: 0 1 auto;
		}
		@media (max-width: 1023px) {
			font-size:1.7578125vw;
			line-height: 135%;

		}
		@media (max-width: 767px) {
			width: 300px;
			line-height: 110%;
			max-width: 100%;
		}
		@media (max-width: 767px) {
			line-height: 135%;
			font-size: 5vw;
			padding-left: 30px;
			flex: 1 0 auto;
			width: 100%;
			margin-top: 6.25vw;
			
		}

	}
	&--treetitle {
		position: relative;
		display: block;
		width: 100%;
		max-width: 387px;
		color: #2A2A2A;
		opacity: 0.4;
		font-size: 18px;
		line-height: 26px;
		font-style: normal;
		font-weight: 400;
		@media (max-width: 1439px) {

			line-height: 24px;
		}
		@media (max-width: 1023px) {
			flex: 0 1 auto;
			font-size: 1.7578125vw;
			line-height: 2.34375vw;
		}
		@media (max-width: 767px) {
			width: 300px;
			line-height: 133%;
			//min-width: 300px;
			font-size: 2.34375vw;
			max-width: 100%;
		}
		@media (max-width: 767px) {

			padding-left: 30px;
			flex: 1 0 auto;
			width: 100%;
			font-size: 5vw;
			margin-top: 6.25vw;
			line-height: 135%;
		}
	}


	&__left-control{
		.calc-page--text.h3 {
			@media (max-width: 767px) {
					padding-bottom: 10px;
			}			
		}
		min-height: auto;
		padding-bottom: 20px;
		@media (max-width: 767px) {
			border-top: none;
		}
		@media (max-width: 767px) {
			border-top: none;
			padding-bottom: 10px;
			padding-top: 0;
		}
		&:not(.active){
			> * {
				&:nth-child(2){
					display: none;
				}
			}
		}
		&.active{
			> * {
				&:nth-child(1){
					display: none;
				}
			}
		}
	}

	&__serviceBlock{
		display: none;
	}

	&__footer{
		&:not(.active){
			display: none;
		}
	}

	&__frontend-dev{
		&:not(.active){
			display: none;
		}
	}
}

.calculator {
	font-family: "Suisse Intl";
	.finalCost__block.finalCost__block--subtitle {
		min-height: auto;
	}
	.form-wewillfind-footer {
		margin-top: 0;

	}
	.wewillfind-footer {
		&__left {
			padding-top: 60px;
			@media (max-width: 1919px) {
				padding-top: 45px;
			}
			@media (max-width: 1023px) {
				padding-top: 5.208vw;
				margin-top: 0;
			}
			
		}

		align-items: flex-start;
	}
	.wewillfind-footer__title {
		min-width: 100%;
		margin-bottom: 200px;
		@media (max-width: 1919px) {
			font-size: 80px;
			line-height: 90%;
			letter-spacing: -0.03em;
		}
		@media (max-width: 1440px) {
			margin-bottom: 170px;
			font-size: 60px;
			line-height: 95%;
			letter-spacing: -0.03em;
		}
		@media (max-width: 1023px) {
			margin-bottom: 10.7421875vw;
			font-size: 3.90625vw;
			line-height: 100%;
			letter-spacing: -0.03em;
		}
		@media (max-width: 767px) {
			margin-bottom: 9.765625vw;
			font-size: 7.03125vw;
			line-height: 95%;
			letter-spacing: -0.03em;
		}
		@media (max-width: 767px) {
			margin-bottom: 20.3125vw;
			font-size: 7.5vw;
			line-height: 95%;
			letter-spacing: -0.03em;
		}

	}
	.calc-page.calc-page-gray {
		background: #F5F5F5;
		padding-top: 30px;
		padding-bottom: 200px;
		@media (max-width: 1919px) {
			padding-bottom: 200px;
		}
		@media (max-width: 1439px) {
			padding-bottom: 150px;
		}
		@media (max-width: 1023px) {
			padding-bottom: vw(100);
		}
		@media (max-width: 767px) {
			padding-bottom: vw2(65);
		}
		.flex-lr__left {
			.calc-page__underBlok {
				border-top: none;
			}
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	.finalCost__block {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		min-height: 150px;
		padding-top: 20px;
		@media (max-width: 1023px) {
			min-height: vw(110);
			padding-top: vw(20);
		}
		@media (max-width: 767px) {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			min-height: auto;
		}
		.wewillfind-footer__title {
			min-width: 80%;
			margin-bottom: 0;
		}
		.wewillfind-footer__subtitle {
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 110%;
			letter-spacing: -0.03em;
			@media (max-width: 1439px) {
				font-size: 36px;
				line-height: 110%;
			}
			@media (max-width: 1023px) {
				font-size: 2.34375vw;
				line-height: 110%;
				letter-spacing: -0.02em;
			}
			@media (max-width: 767px) {
				font-size: 3.125vw;
				line-height: 110%;
				max-width: 63.28125vw;
				letter-spacing: -0.02em;
			}
			@media (max-width: 767px) {
				font-size: 6.25vw;
			}
		}
		&--left {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex: 0 1 50%;
			@media (max-width: 767px) {
				margin-bottom: vw2(20);
			}
		}
		&--right {
			padding-left: 20px;
			display: flex;
			flex: 0 1 50%;
			@media (max-width: 767px) {
				padding-left: 0;
			}
		}
		&--desc {
			opacity: 0.4;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 26px;
			@media (max-width: 1440px) {
				font-size: 18px;
				line-height: 26px;
			}
			@media (max-width: 1023px) {
				font-size: 1.3671875vw;
				line-height: 135%;
			}
			@media (max-width: 767px) {
				margin-bottom: vw2(55);

				font-size: 1.822916666666667vw;
				line-height: 148%;
			}
			@media (max-width: 767px) {
				margin-bottom: vw2(30);
				font-size: 4.375vw;
			}
		}
		&--time {
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 110%;
			letter-spacing: -0.03em;

			@media (max-width: 1023px) {
				font-size: 3.90625vw;
				line-height: 100%;
			}
			@media (max-width: 767px) {
				font-size: 3.645833333333333vw;
				line-height: 110%;
			}
			@media (max-width: 767px) {
				font-size: 6.25vw;
				line-height: 110%;
				letter-spacing: -0.02em;
			}
		}
		&--cost {
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 110%;
			letter-spacing: -0.03em;
			@media (max-width: 1023px) {
				font-size: vw(40);
				line-height: 100%;
			}
			@media (max-width: 767px) {
				font-size: 3.645833333333333vw;
				line-height: 110%;
			}
			@media (max-width: 767px) {
				font-size: 6.25vw;
				line-height: 110%;
				letter-spacing: -0.02em;
			}
		}
	}
	.accordions {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
	}
	.accordion {
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-bottom: 32px;
		display: block;
		&__intro {
			position: relative;
			cursor: pointer;
			padding: 0px;
			padding-left: 0px ;
			background: transparent;
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 500;
			line-height: 32px;
			color: #2A2A2A;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			&__img {
				position: absolute;
				top: 0px;
				right: 0;
				width: 32px;
				height: 32px;
				animation-name: rotationClose;
				animation-duration: .2s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
				svg {
					@media (max-width: 1023px) {
						width: 20px;
						height: 20px;
					}
				}
				&:hover {
					background: transparent;
					transition: background .3s ease;
			
				}
			}

		} 
		&__content {
			max-height: 0;
			overflow: hidden;
			will-change: max-height;
			transition: all 0.25s ease-out;
			opacity: 0;
			color: #2A2A2A;
			font-style: normal;
			max-width: 594px;
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			p {
				opacity: 0.4;
			}
		} 

		&__active {
			.accordion__intro {
				background: transparent;
				font-style: normal;
				.accordion__intro__img {
					animation-name: rotationOpen;
					animation-duration: .2s;
					animation-iteration-count: 1;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
				}

			}
			.accordion__content{
				background: transparent;
				opacity: 1;
				width: 100%;
				p {
					padding-top: 15px;
					position: relative;
					display: inline-block;
					color: #2A2A2A;
					opacity: 0.4;
					font-style: normal;
					max-width: 594px;
					font-family: 'Suisse Intl';
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 26px;
					@media (max-width: 1439px) {
						max-width: 435px;
					}
					@media (max-width: 1023px) {
						font-size: 1.3671875vw;
						line-height: 135%;
						max-width: 29.39453125vw;
					}
					@media (max-width: 767px) {
						font-size: 4.375vw;
						max-width: 100%;
					}
				}

			}


		}



	}



	@keyframes rotationOpen  {
		0% {
			transform-origin: 40% 35%;
			transform: rotate(180deg);
		}

		100% {
			transform-origin: 40% 35%;
			transform: rotate(0deg);
		}

	}
	@keyframes rotationClose {
		0% {
			transform-origin: 40% 35%;
			transform: rotate(0deg);
		}
		100% {
			transform-origin: 40% 35%;
			transform: rotate(180deg);
		}

	}

}

.footer.footer--light {
	background: #F5F5F5;
	.wewillfind-footer__connection a {
		color: #2A2A2A;
	}
	.wewillfind-footer__location {
		color: rgba(42, 42, 42, 0.21);
		span {
			color: #2A2A2A;
		}
	}
	.form-wewillfind-footer__text {
		color: #2A2A2A;
		opacity: 0.3;
	}
	.form-wewillfind-footer__item input, .form-wewillfind-footer__item textarea {
		border-color: rgba(42, 42, 42, 0.4);
		&::placeholder {
			color: #2A2A2A;
			opacity: 0.4;
		}
	}
	.footer__right-soc a {
		color: #2A2A2A;
	}
	.footer__bottom {
		color: #2A2A2A;
	}
	.wewillfind-footer__title {
		color: #2A2A2A; 
		span {
			color: #000000;
			opacity: 0.4;				
		}
	}
	.form-wewillfind-footer__item input, .form-wewillfind-footer__item textarea {
		color: #2A2A2A;
		// pacity: 0.4;
	}
}
