.services-page{
	.page{
		position: relative;
	}
	.about-page__next-cases.next-cases-portfolio, #block-views-block-node-project-block-project-about {
		// position: relative;
		background: #fff;
		z-index: 500;
		// .next-cases-portfolio__projects {
		// 	margin-top: 294px;
		// 	@media (max-width: 1439px) { 
		// 		margin-top: 165px;
		// 	}
		// 	// @media (max-width: 1023px) { 
		// 	// 	margin-top: 113px;
		// 	// }
		// }
	}
	&-item {
		position: relative;
		display: flex;
		width: 100vw;
		min-height: 250px;
		@media (max-width: 767px) {
			border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
		}
		&--title {
			@extend .h1;
			@media (min-width: 1920px){
				font-size: 64px;
			}
			max-width: 793px;
		}
		.accordion {
			width: 100%;
			overflow: hidden;
			position: relative;
			margin-bottom: 32px;
			display: block;
			&__intro {
				position: relative;
				cursor: pointer;
				padding: 0;
				padding-left: 0;
				background: transparent;
				font-family: 'Suisse Intl';
				font-style: normal;
				font-weight: 500;
				line-height: 32px;
				color: #2A2A2A;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				.flex-lr__right {
					border-top: 1px solid rgba(255, 255, 255, 0.2);
					padding-top: 30px;
					@media (max-width: 767px) {
						padding-top: 0;
						border-top: 0;
					}
				}
				&__img {
					position: absolute;
					top: 30px;
					right: 0;
					width: 32px;
					height: 32px;
					animation-name: rotationClose;
					animation-duration: .2s;
					animation-iteration-count: 1;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
					svg {
						@media (max-width: 1024px) {
							width: 20px;
							height: 20px;
						}
					}
					&:hover {
						background: transparent;
						transition: background .3s ease;
				
					}
				}
	
			} 
			&__content {
				max-height: 0;
				overflow: hidden;
				will-change: max-height;
				transition: all 0.25s ease-out;
				opacity: 0;
				color: #2A2A2A;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 26px;
				background: transparent;
				width: 100%;
				margin-top: 120px;

				@media (max-width: 767px) {
					.flex-lr{
						flex-direction: column-reverse;
					}
					.flex-lr__left{
						margin-top: 65px;
					}
				}

				&--desc {
					@extend .b1;
					font-family: 'Suisse Intl';
					font-style: normal;
					font-weight: 400;
					opacity: 0.4;
					color: #fff;
					max-width: 431px;
					margin-bottom: 30px;
					@media (max-width: 767px) {
						max-width: 100%;
					}
				}
				&--link {
					@extend .h3;
					font-family: 'Suisse Intl';
					font-style: normal;
					font-weight: 400;
					color: #FFFFFF;
					max-width: 431px;
					@media (max-width: 767px) {
						max-width: 100%;
					}
					&-detail  {
						@extend .h3;
						font-family: 'Suisse Intl';
						font-style: normal;
						font-weight: 400;
						text-decoration-line: underline;
						text-decoration-thickness: 1px;
						text-underline-offset: 5px;
						text-decoration-skip: none;
						text-decoration-skip-ink: none;
						color: #FFFFFF;
						margin-bottom: 65px;
						margin-top: 65px;
						display: inline-block;
					}
				}
				.flex-lr__left {
					display: flex;
					justify-content: flex-end;
					align-items: flex-start;
					flex-flow: column nowrap;
				}
				p {
					@extend .h3;
					font-family: 'Suisse Intl';
					color: #FFFFFF;
					max-width: 1024px;
					&:not(:last-child){
						margin-bottom: 65px;
					}
				}
	
			}
	
			&__active {
				.accordion__intro {
					background: transparent;
					font-style: normal;
					.accordion__intro__img {
						animation-name: rotationOpen;
						animation-duration: .2s;
						animation-iteration-count: 1;
						animation-timing-function: linear;
						animation-fill-mode: forwards;
					}
				}
				.accordion__content{
					opacity: 1;
				}
			}
		}
	
	
	}
}