.reviews {
    padding: 30px 0 100px;
    background-color: #F5F5F5;
    overflow: hidden;
    @media (max-width: 1919px) {
        padding: 20px 0 79px;
    }
    @media (max-width: 1439px) {
        padding: 15px 0 79px;
    }
    @media (max-width: 1024px) {
        padding: vw(15) 0 vw(79);
    }
    &__header {
        padding-bottom: 220px;
        @media (max-width: 1919px) {
            padding-bottom: 165px;
        }
        @media (max-width: 1439px) {
            padding-bottom: 110px;
        }
        @media (max-width: 1024px) {
            padding-bottom: vw(110);
        }
        .flex-lr__right {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__title {
        max-width: 760px;
        @media (max-width: 1919px) {
            max-width: 560px;
        }
        @media (max-width: 1024px) {
            max-width: vw(560);
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 20px;
        margin-top: 28px;
        @media (max-width: 1919px) {
            gap: 16px;
            margin-top: 13px;
        }
        @media (max-width: 1439px) {
            gap: 12px;
            margin-top: 10px;
            margin-right: -5px;
        }
        @media (max-width: 1024px) {
            gap: vw(12);
            margin-top: vw(10);
            margin-right: vw(-5);
        }
    }
    &__control {
        width: 36px;
        height: 36px;
        color: #2A2A2A;
        cursor: pointer;
        transition: color 0.3s linear;
        @media (max-width: 1919px) {
            width: 32px;
            height: 32px;
        }
        @media (max-width: 1439px) {
            width: 28px;
            height: 28px;
        }
        @media (max-width: 1024px) {
            width: vw(28);
            height: vw(28);
        }
        svg {
            width: 100%;
            height: 100%;
        }
        &:hover {
            color: #0047FF;
        }
        &.swiper-button-disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }  
}

.reviews-slide {
    &__container {
        display: flex;
        align-items: flex-start;
        @media (min-width: 1970px){
            justify-content: center;
        }
        @media (max-width: 1919px) {
            padding: 0 24px;
        }
        @media (max-width: 1439px) {
            padding: 0 30px;
        }
        @media (max-width: 1024px) {
            padding: 0 vw(30);
        }
    }
    &__images {
        position: relative;
        flex-basis: 580px;
        height: 320px;
        flex-shrink: 0;
        @media (max-width: 1919px) {
            flex-basis: 439px;
            height: 242px;
        }
        @media (max-width: 1439px) {
            flex-basis: 301px;
            height: 173px;
        }
        @media (max-width: 1024px) {
            flex-basis: vw(301);
            height: vw(173);
        }
    }
    &__photo, &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 320px;
        height: 320px;
        border-radius: 100%;
        overflow: hidden;
        @media (max-width: 1919px) {
            width: 242px;
            height: 242px;
        }
        @media (max-width: 1439px) {
            width: 173px;
            height: 173px;
        }
        @media (max-width: 1439px) {
            width: vw(173);
            height: vw(173);
        }
    }
    &__logo {
        right: auto;
        left: 0;
        border: 1px solid #CCCCCC;
        img {
            max-width: 50%;
            max-height: 50%;
            object-fit: contain;
        }
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__icon {
        flex-basis: 80px;
        flex-shrink: 0;
        height: 54px;
        margin-left: 55px;
        margin-right: 77px;
        @media (max-width: 1919px) {
            flex-basis: 60px;
            height: 40px;
            margin-left: 38px;
            margin-right: 59px;
        }
        @media (max-width: 1439px) {
            flex-basis: 40px;
            height: 27px;
            margin-left: 30px;
            margin-right: 20px;
        }
        @media (max-width: 1024px) {
            flex-basis: vw(40);
            height: vw(27);
            margin-left: vw(30);
            margin-right: vw(20);
        }
        svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__content {
        color: #2A2A2A;
        flex-basis: auto;
        max-width: 909px;
        @media (max-width: 1919px) {
            max-width: 677px;
        }
        @media (max-width: 1024px) {
            max-width: vw(677);
        }
    }

    &__info {
        margin-top: 60px;
        @media (max-width: 1919px) {
            margin-top: 45px;
        }
        @media (max-width: 1439px) {
            margin-top: 40px;
        }
        @media (max-width: 1024px) {
            margin-top: vw(40);
        }
    }
    &__position {
        margin-top: 10px;
        opacity: 0.4;
        @media (max-width: 1024px) {
            margin-top: vw(10);
        }
    }
}