.reviews.white-block.js-reviews
    .reviews__header
        .container
            .flex-lr
                .flex-lr__left
                .flex-lr__right
                    h2.general-title.reviews__title <span>Отзывы</span> клиентов
                    .reviews__controls
                        .reviews__control.js-reviews__prev
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.9062 17.9648L9.90625 17.9648" stroke="currentColor" stroke-width="2.5" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M18 28L8 18L18 8" stroke="currentColor" stroke-width="2.5" stroke-linecap="square"/>
                            </svg>

                        .reviews__control.js-reviews__next
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.09375 18.0352L26.0937 18.0352" stroke="currentColor" stroke-width="2.5" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M18 8L28 18L18 28" stroke="currentColor" stroke-width="2.5" stroke-linecap="square"/>
                            </svg>

    .reviews__slider.js-reviews__slider
        .swiper-wrapper
            .swiper-slide.reviews-slide
                .container.reviews-slide__container
                    .reviews-slide__images
                        .reviews-slide__logo
                            img(src="img/reviews/review-logo.svg" alt="logo")
                        .reviews-slide__photo
                            img(src="img/reviews/review-photo.jpg" alt="photo")
                    .reviews-slide__icon
                        <svg width="80" height="54" viewBox="0 0 80 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.1">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M62.3111 17.7778C72.0892 17.7778 80 25.7775 80 35.5555C80 45.3336 72.0003 53.3333 62.2222 53.3333C52.4441 53.3333 44.4444 45.3336 44.4444 35.5555C44.4444 15.9111 60.3556 0 80 0C80 0 68.3557 4.35524 62.3111 17.7778ZM35.5556 35.5555C35.5556 45.3336 27.5559 53.3333 17.7778 53.3333C7.99968 53.3333 0 45.3336 0 35.5555C0 15.9111 15.9111 0 35.5556 0C35.5556 0 23.9113 4.35571 17.8667 17.7778C27.6448 17.7778 35.5556 25.7775 35.5556 35.5555Z" fill="#2A2A2A"/>
                            </g>
                        </svg>
                    .reviews-slide__content
                        .reviews-slide__text.b1 Мы хотели, чтобы новый сайт соответствовал уровню нашего университета и встал в ряд медиаресурсов наиболее сильных вузов планеты, ведь это лицо учебного заведения, площадка, где происходит первое знакомство с ним. Нашей целью было и то, чтобы предлагаемое качество образования в нефтегазовой отрасли считывалось на всех каналах коммуникации вуза, одним из которых является сайт. Задачи, на наш взгляд, выполнены полностью. Сайт получил положительный отклик от студентов, преподавателей и партнёров.
                        .reviews-slide__info
                            .reviews-slide__name.h3 Олег Баулин
                            .reviews-slide__position.b1 Ректор университета

            .swiper-slide.reviews-slide
                .container.reviews-slide__container
                    .reviews-slide__images
                        .reviews-slide__logo
                            img(src="img/reviews/review-logo.svg" alt="logo")
                        .reviews-slide__photo
                            img(src="img/reviews/review-photo.jpg" alt="photo")
                    .reviews-slide__icon
                        <svg width="80" height="54" viewBox="0 0 80 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.1">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M62.3111 17.7778C72.0892 17.7778 80 25.7775 80 35.5555C80 45.3336 72.0003 53.3333 62.2222 53.3333C52.4441 53.3333 44.4444 45.3336 44.4444 35.5555C44.4444 15.9111 60.3556 0 80 0C80 0 68.3557 4.35524 62.3111 17.7778ZM35.5556 35.5555C35.5556 45.3336 27.5559 53.3333 17.7778 53.3333C7.99968 53.3333 0 45.3336 0 35.5555C0 15.9111 15.9111 0 35.5556 0C35.5556 0 23.9113 4.35571 17.8667 17.7778C27.6448 17.7778 35.5556 25.7775 35.5556 35.5555Z" fill="#2A2A2A"/>
                            </g>
                        </svg>
                    .reviews-slide__content
                        .reviews-slide__text.b1 Мы хотели, чтобы новый сайт соответствовал уровню нашего университета и встал в ряд медиаресурсов наиболее сильных вузов планеты, ведь это лицо учебного заведения, площадка, где происходит первое знакомство с ним. Нашей целью было и то, чтобы предлагаемое качество образования в нефтегазовой отрасли считывалось на всех каналах коммуникации вуза, одним из которых является сайт. Задачи, на наш взгляд, выполнены полностью. Сайт получил положительный отклик от студентов, преподавателей и партнёров.
                        .reviews-slide__info
                            .reviews-slide__name.h3 Олег Баулин
                            .reviews-slide__position.b1 Ректор университета

            .swiper-slide.reviews-slide
                .container.reviews-slide__container
                    .reviews-slide__images
                        .reviews-slide__logo
                            img(src="img/reviews/review-logo.svg" alt="logo")
                        .reviews-slide__photo
                            img(src="img/reviews/review-photo.jpg" alt="photo")
                    .reviews-slide__icon
                        <svg width="80" height="54" viewBox="0 0 80 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.1">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M62.3111 17.7778C72.0892 17.7778 80 25.7775 80 35.5555C80 45.3336 72.0003 53.3333 62.2222 53.3333C52.4441 53.3333 44.4444 45.3336 44.4444 35.5555C44.4444 15.9111 60.3556 0 80 0C80 0 68.3557 4.35524 62.3111 17.7778ZM35.5556 35.5555C35.5556 45.3336 27.5559 53.3333 17.7778 53.3333C7.99968 53.3333 0 45.3336 0 35.5555C0 15.9111 15.9111 0 35.5556 0C35.5556 0 23.9113 4.35571 17.8667 17.7778C27.6448 17.7778 35.5556 25.7775 35.5556 35.5555Z" fill="#2A2A2A"/>
                            </g>
                        </svg>
                    .reviews-slide__content
                        .reviews-slide__text.b1 Мы хотели, чтобы новый сайт соответствовал уровню нашего университета и встал в ряд медиаресурсов наиболее сильных вузов планеты, ведь это лицо учебного заведения, площадка, где происходит первое знакомство с ним. Нашей целью было и то, чтобы предлагаемое качество образования в нефтегазовой отрасли считывалось на всех каналах коммуникации вуза, одним из которых является сайт. Задачи, на наш взгляд, выполнены полностью. Сайт получил положительный отклик от студентов, преподавателей и партнёров.
                        .reviews-slide__info
                            .reviews-slide__name.h3 Олег Баулин
                            .reviews-slide__position.b1 Ректор университета
