.about-page__next-cases.next-cases-portfolio
	.next-cases-portfolio__container.container
		.next-cases-portfolio__flex-lr.flex-lr
			.next-cases-portfolio__flex-left.flex-lr__left
			.next-cases-portfolio__flex-right.flex-lr__right
				.next-cases-portfolio__flex-title.general-title
					span Проекты
					span (+350)
		.next-cases-portfolio__projects
			.items-projects
				.item-projects
					a(href="#").item-projects__content.item-projects-content-blue
						figure
							.item-projects__header
								.item-projects__title ATM и терминалы оплаты банка
								.item-projects__btns
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
								.item-projects__text
									| Интерфейс и верстка экранов для
									br
									| банкоматов NCR, WinCor, Nautilus и
									br
									| платежных терминалов
							.item-projects__img
								img(src="img/item-projects/check.png" alt="alt")
				.item-projects
					a(href="#").item-projects__content.item-projects-content-grey-dark
						figure
							.item-projects__header
								.item-projects__title Romeks
								.item-projects__btns
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
								.item-projects__text
									| Сайты застройщика Ромекс
									br
									| Девелопмент
							.item-projects__img
								img(src="img/item-projects/romeks.png" alt="alt")