section.confirm
	.confirm__container.container 
		.confirm__title-wrapper
			.confirm__title.general-title 
				|Подверждаем 
				br
				|экспертизу 
				span в отраслевых 
				br
				|конкурсах
		.confirm__content 	
			.confirm__items 
				.confirm__item 
					.confirm__item-left ТОП 1 в разработке
					.confirm__item-right 
						span Рейтинг рунета
						span 2018
					.confirm__img-big 
						img(src="img/confirm/1.png", alt="alt")
				.confirm__item 
					.confirm__item-left ТОП4 в рейтинге эффективности интернет-банков
					.confirm__img-big 
						img(src="img/confirm/1.png", alt="alt")
				.confirm__item 
					.confirm__item-left Лучший сайт-сервис
					.confirm__img-big 
						img(src="img/confirm/1.png", alt="alt")
				.confirm__item 
					.confirm__item-left ТОП 1 в разработке
					.confirm__img-big 
						img(src="img/confirm/1.png", alt="alt")
