.weright {
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #F5F5F5;
	@media (max-width: 1919px){
		padding-top: 20px;
		padding-bottom: 40px;
	}
	@media (max-width: 1439px){
		padding: 30px 0;
	}
	@media (max-width: 767px){
		padding: 4vw 0;
	}
	&__header {
		display: flex;
	}
	
		&__left {
			flex: 1 1 auto;
		}
	
			&__telegram {
				width: 360px;
				height: 360px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid rgba($color: #000000, $alpha: 0.2);
				border-radius: 50%;
				transition: all 0.5s ease 0.1s;
				@media (max-width: 1919px){
					width: 320px;
					height: 320px;
				}
				@media (max-width: 1439px){
					display: none;
				}
				&:hover{
					transition: background-color 0.5s ease;
					border: 1px solid rgba($color: #ffffff, $alpha: 1);
					background-color: #ffffff;
				}
			}
	
		&__right {
			flex: 0 1 65%;
			@media (max-width: 1919px){
				flex: 0 1 64%;
			}
			@media (max-width: 1439px){
				flex: 0 1 66%;
			}
			@media (max-width: 1023px){
				flex: 1 1 100%;
			}
		}
	
			&__title {}
	
	&__items {
		display: flex;
		margin: 30px 0 0;
		@media (max-width: 1919px){
			margin: 20px 0 0;
		}
		@media (max-width: 1439px){
			margin: 130px 0 0;
		}
		@media (max-width: 1023px){
			margin-top: 110px;
		}
		@media (max-width: 767px){
			flex-wrap: wrap;
			margin-top: 13.333vw;
		}
	}
	
		&__item {
			padding-left: 15px;
			flex: 0 1 25%;
			@media (max-width: 1919px){
				padding-left: 10px;
			}
			@media (max-width: 1439px){
				padding-left: 15px;
				flex: 0 1 33.333%;
				&:last-child{
					display: none;
				}
			}
			@media (max-width: 767px){
				padding: 0;
				&:not(:first-child) {
					margin-top: 8vw;
				}
			}
			&:first-child{
				padding: 0;
			}
			&:hover{
				.weright__text {
					color: #0047FF;
				}
			}
			&--big {
				flex: 0 1 50%;
				@media (max-width: 1439px){
					flex: 0 1 77.777%;
				}
			}
			@media (max-width: 767px){
				flex: 1 1 100%;
			}
		}
	
			&__img {
				@media (max-width: 767px){
					height: 74.667vw;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
	
			&__text {
				margin-top: 20px;
				font-family: 'Suisse Intl';
				font-style: normal;
				font-weight: 400;
				font-size: 32px;
				line-height: 126.8%;
				color: #2A2A2A;
				transition: all 0.5s ease 0s;
				@media (max-width: 1919px){
					margin-top: 15px;
					font-size: 24.0167px;
					line-height: 126.8%;
				}
				@media (max-width: 1439px){
					font-size: 24px;
					line-height: 126.8%;
				}
				@media (max-width: 767px){
					margin-top: 4vw;
					font-size: 4.800vw;
				}
			}
}
