.weright {
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #F5F5F5;
	@media (max-width: 1919px){
		padding-top: 20px;
		padding-bottom: 40px;
	}
	@media (max-width: 1439px){
		padding: 30px 0;
	}
	@media (max-width: 1024px){
		padding: 2.930vw 0;
	}
	@media (max-width: 767px){
		padding: 4vw 0;
	}

	&__header {
		display: flex;
	}
	
	&__left {
		flex: 1 1 auto;
	}

	&__right {
		flex: 0 1 65%;
		padding-bottom: 220px;
		@media (max-width: 1919px){
			flex: 0 1 65%;
			padding-bottom: 165px;
		}
		@media (max-width: 1439px){
			flex: 0 1 65%;
			padding-bottom: 109px;
		}
		@media (max-width: 1024px){
			flex: 0 1 65%;
			padding-bottom: vw(109);
		}
		@media (max-width: 767px){
			flex: 1 1 100%;
			padding-bottom: vw320(50);
		}
	}

	&__title {}
	.blog-items {
		margin-top: 0 !important;
	}
}
		

		