section.weright.white-block
	.weright__container.container 
		.weright__header 
			.weright__left 
				a(href="#").weright__telegram
					img(src="img/svg/telegram.svg", alt="alt")
			.weright__right 
				.weright__title.general-title 
					a(href="") Пишем 
					|про IT и цифровую 
					br
					|трансформацию 

		.weright__items 
			a(href='').weright__item.weright__item--big 
				figure
					.weright__img 
						img(src="img/weright/1.jpg", alt="alt")
					.weright__text 
						|Miro vs. FigJam: Выбираем a 
						br
						|Workshopping, Whiteboard and 
						br
						|Collaboration Web App
			a(href='').weright__item 
				figure
					.weright__img 
						img(src="img/weright/2.jpg", alt="alt")
					.weright__text 
						|Miro vs. FigJam: Выбираем 
						br
						|a Workshopping,
			a(href='').weright__item 
				figure
					.weright__img 
						img(src="img/weright/3.jpg", alt="alt")
					.weright__text 
						|Miro vs. FigJam: Выбираем a 
						br
						|Workshopping, Whiteboard 
						br
						|and Collaboration Web App
