.footer {
	background-color: #2A2A2A;
	padding: 30px 0 0;
	position: relative;
	overflow: hidden;
	@media (max-width: 1919px){
		padding: 20px 0 0;
	}
	@media (max-width: 1024px){
		padding: 1.953vw 0 0;
	}
	@media (max-width: 767px){
		padding: 4vw 0 0;
	}
	&__bottom {
		display: flex;
		align-items: flex-end;
		font-family: 'Suisse Intl';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 117%;
		display: flex;
		align-items: flex-end;
		color: #FFFFFF;
		padding-bottom: 30px;
		@media (max-width: 1919px){
			font-size: 14px;
			line-height: 16px;
			padding-bottom: 20px;
		}
		@media (max-width: 1024px){
			padding-bottom: 1.953vw;
			font-size: 14px;
			line-height: 16px;
			.footer__left {
			}
		}
		@media (max-width: 767px){
			padding-bottom: 4vw;
			font-size: 3.733vw;
			line-height: 4.267vw;
			flex-wrap: wrap;
			justify-content: space-between;
			.footer__right-soc  {
				flex: 1 1 100%;
				order: -1;

			}
			.footer__right  {
				display: flex;
				justify-content: flex-end;
				@media (max-width: 767px){
					justify-content: flex-start;
				}
			}
		}
	}
	.footer__right-soc-desk {
		@media (max-width: 767px){
			display: none!important;
		}
	}
	.footer__right-soc-mob {
		display: none!important;
		@media (max-width: 767px){
			display: grid!important;
		}
	}
	&__left {
		flex: 1 1 auto;
		@media (max-width: 767px){
			flex: 0 0 auto;
		}
	}

	&__right {
		flex: 0 1 65%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: 1919px){
			flex: 0 1 65%;
		}
		@media (max-width: 1439px){
			flex: 0 1 65%;
		}
		@media (max-width: 767px){
			flex: 0 0 30vw;
		}
		a {
			transition: all 0.5s ease 0s;
			&:hover{
				color: #0047FF;
				opacity: 1!important;
			}
		}
	}

	&__right-soc {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		margin-left: -70px;
		row-gap: 20px;
		@media (max-width: 1439px){
			margin-left: -50px;
		}
		@media (max-width: 1024px){
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
			margin-left: -3.906vw;
			row-gap: 1.953vw;
		}
		@media (max-width: 767px){
			margin-left: 0;
			row-gap: 2.667vw;
			margin-top: 8vw;
			margin-bottom: 18.667vw;
			grid-template: repeat(3, 1fr) / repeat(2, 30vw);
			justify-content: space-between;
		}
		a {
			margin-left: 70px;
			@media (max-width: 1439px){
				margin-left: 50px;
			}
			@media (max-width: 1024px){
				margin-left: 3.906vw;
			}
			@media (max-width: 767px){
				margin-left: 0;
			}
		}
	}

	&__right-lang {
		@media (max-width: 767px){

		}
		a {
			display: block;
			text-align: right;
			margin-top: 10px;
			@media (max-width: 1024px){
				margin-top: 0.977vw;
			}
			@media (max-width: 767px){
				margin-top: 2.667vw;
				text-align: left;
			}
			&.active-lang {
				opacity: 0.2;
			}
		}
	}


	&__wewillfind {}
}

.wewillfind-footer {
	display: flex;
	align-items: center;
	@media (max-width: 767px){
		flex-wrap: wrap;
	}
	&__left {
		flex: 1 1 auto;
		@media (max-width: 1024px){
			margin-top: 2.930vw;
		}
		@media (max-width: 767px){
			display: flex;
			flex-wrap: wrap;
			margin-top: 6.400vw;
		}
	}

		&__connection {
			@media (max-width: 1024px){
				flex: 0 0 23.926vw;
			}
			@media (max-width: 767px){
				flex: 1 1 100%;
			}
			a {
				display: block;
				font-family: 'Suisse Intl';
				font-style: normal;
				font-weight: 400;
				font-size: 32px;
				line-height: 126.8%;
				color: #FFFFFF;
				@media (max-width: 1919px){
					font-size: 24.0167px;
					line-height: 126.8%;
				}
				@media (max-width: 1024px){
					font-size: 2.344vw;
				}
				@media (max-width: 767px){
					font-size: 4.800vw;
				}
			}
		}

		&__location {
			margin-top: 40px;
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 126.8%;
			color: #ffffff;
			@media (max-width: 1919px) {
				font-size: 24.0167px;
				line-height: 126.8%;
			}
			@media (max-width: 1024px){
				font-size: 2.344vw;
				margin-top: 3.906vw;
			}
			@media (max-width: 767px){
				margin-top: 0;
				font-size: 4.800vw;
				margin-top: 2.667vw;
			}
			span {
				color: rgba(255, 255, 255, 0.22);
				display: block;
			}
		}

	&__right {
		flex: 0 1 65%;
		padding-bottom: 195px;
		@media (max-width: 1919px){
			flex: 0 1 65%;
			padding-bottom: 130px;
		}
		@media (max-width: 1439px){
			flex: 0 1 65%;
			padding-bottom: 100px;
		}
		@media (max-width: 1024px){
			padding-bottom: 9.766vw;
		}
		@media (max-width: 767px){
			flex: 1 1 auto;
			order: -1;
			padding-bottom: 0;
		}
	}

		&__title {
			color: #F5F5F5;
			max-width: 750px;
			@media (max-width: 1919px){
				max-width: 570px;
			}
			@media (max-width: 1439px){
				max-width: 340px;
			}
			@media (max-width: 1024px){
				max-width: 48.828vw;
			}
			@media (max-width: 767px){
				max-width: 100%;
			}
			span {
				opacity: 0.2;
				color: #F5F5F5;
				// @media (max-width: 767px){
				// 	opacity: 1;
				// }
			}
		}

		&__form {
		}
}

.form-wewillfind-footer {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	margin-top: 180px;
	position: relative;
	@media (max-width: 1919px){
		margin: 0 -15px;
		margin-top: 140px;
	}
	@media (max-width: 1439px){
		margin-top: 110px;
	}
	@media (max-width: 1024px){
		margin: 0 -1.465vw;
		margin-top: 10.742vw;
	}
	@media (max-width: 767px){
		margin: 0 -4vw;
		margin-top: 13.333vw;
	}
	>* {
		padding: 0 20px;
		@media (max-width: 1919px){
			padding: 0 1.465vw;
		}
		@media (max-width: 767px){
			padding: 0 4vw;
		}
	}
	&__result {
		color: white;
		flex: 0 1 100%;
	}

	.messages {
		padding: 0;
		.messages__title, .messages__content {
			margin-left: 0;
			color: red;
		}
		.button--dismiss {
			display: none;
		}
	}

	&__error{
		font-family: 'Suisse Intl';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #FD5A5A;
		position: absolute;
		left: 20px;
		bottom: -27px;
		width: 100%;
		pointer-events: none;
		display: none;
		@media (max-width: 1919px){
			font-size: 14px;
			line-height: 16px;
			left: 1.465vw;
			bottom: -27px;
		}
		@media (max-width: 1024px){
			font-size: 1.3vw;
			line-height: 1.5vw;
			bottom: -2vw;
		}
		@media (max-width: 767px){
			font-size: 3vw;
			line-height: 3.2vw;
			bottom: -3.7vw;
			left: 4vw;
		}
	}

	&__item {
		flex: 0 1 50%;
		transition: all 0.5s ease 0s;
		position: relative;
		@media (max-width: 767px){
			flex: 0 1 100%;
		}
		&:not(:first-child) {
			margin-top: 60px;
			@media (max-width: 1919px){
				margin-top: 45px;
			}
			@media (max-width: 1024px){
				margin-top: 5.208vw;
			}
			@media (max-width: 767px){
				margin-top: 6.25vw;
			}
		}
		input, textarea {
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			max-height: 45px;
			color: rgba($color: #ffffff, $alpha: 1.0);
			transition: all .5s;
			padding-bottom: 20px;
			background-color: transparent;
			width: 100%;
			border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
			@media (max-width: 1919px){
				font-size: 14px;
				line-height: 16px;
				padding-bottom: 15px;
			}
			@media (max-width: 1024px){
				font-size: 1.367vw;
				line-height: 1.563vw;
				padding-bottom: 1.465vw;
				border-bottom: 0.098vw solid rgba($color: #ffffff, $alpha: 0.2);
			}
			@media (max-width: 767px){
				font-size: 3.200vw;
				line-height: 3.733vw;
				padding-bottom: 2.667vw;
				border-bottom: 0.267vw solid rgba($color: #ffffff, $alpha: 0.2);
			}
		}
		input::placeholder, textarea::placeholder {
			color: rgba($color: #ffffff, $alpha: 0.2);
		}
		&-description {
			flex: 1 1 100%;
			position: relative;
			input[type="file"] {
				display: none;
			}
			input[type="file"]+label {
				position: absolute;
				top: 0;
				right: 20px;
				cursor: pointer;
				transition: all 0.5s ease 0s;
				@media (max-width: 1919px){
					right: 15px;
				}
				@media (max-width: 1439px){
					display: none;
				}
				&.active-file {
					opacity: 1;
				}
			}
			textarea {
				resize: none;
				height: auto;
				padding-bottom: 0!important;
				padding-right: 30px;
			}
			textarea:focus+input[type="file"] {
			}
		}
		&.js-active-area {
			input, textarea{
				border-bottom: 1px solid #ffffff;
			}
		}
		&.js-error {
			input, textarea{
				border-bottom: 1px solid #FD5A5A;
			}
			.form-wewillfind-footer__error{
				display: block;
			}
		}
		&--big {
			flex: 0 1 100%;
		}
	}

	&__bottom {
		font-family: "Suisse Intl";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;
		color: #ffffff;
		margin-top: 60px;
		display: flex;
		align-items: center;
		@media (max-width: 1919px){
			margin-top: 45px;
		}
		@media (max-width: 1439px){
			margin-top: 40px;
		}
		@media (max-width: 1024px){
			margin-top: 3.906vw;
		}
		@media (max-width: 767px){
			margin-top: 5.333vw;
			flex-wrap: wrap;
			flex: 1 1 100%;
		}
	}

	&__btn {


		@media (max-width: 767px){
			flex: 1 1 100%;
		}


	}

	&__text {
		margin-left: 40px;
		font-family: 'Suisse Intl';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #F5F5F5;
		opacity: 0.2;
		@media (max-width: 1919px){
			margin-left: 30px;
			font-size: 14px;
			line-height: 16px;
		}
		@media (max-width: 1024px){
			margin-left: 2.930vw;
			font-size: 1.367vw;
			line-height: 1.563vw;
		}
		@media (max-width: 767px){
			margin-top: 3.733vw;
			margin-left: 0;
			font-size: 3.200vw;
			line-height: 3.733vw;
		}
	}

	&__success{
		font-family: 'Suisse Intl';
		pointer-events: none;
		color: #ffffff;
		//position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: none;
		span{
			opacity: 0.2;
		}

		.footer--light & {
			color: inherit;
		}
	}

	&.submited{
		.webform-submission-form & {
			margin-top: 70px;
		}

		> *:not(.form-wewillfind-footer__success){
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
		.form-wewillfind-footer__success{
			display: block;
			pointer-events: auto;
		}
	}
}


.mobile-fixed-bottom{
	position: fixed;
	left: 0;
	width: 100%;
	padding: 0 6.25vw 6.25vw;
	z-index: 11;
	bottom: -22vw;
	transition: 0.3s ease;
	@media (min-width: 768px){
		display: none;
	}
	&__btn{
		width: 100%;
		height: 15vw;
		span{
			font-size: 3.75vw;
			line-height: 1;
		}
	}
	&.active{
		bottom: 0;
	}
	&.hide{
		opacity: 0;
	}
}



.calc__link{
	position: fixed;
	background-color: rgba(0, 71, 255, 0.2);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	color:#0047FF;
	bottom:-125px;
	font-size: 32px;
	line-height: 35px;
	font-family: "Suisse Intl";
	font-style: normal;
	font-weight: 400;
	padding:30px 70px ;
	left:35%;
	margin-left: 9px;
	z-index: 2;
	transition: .5s bottom;
	&-white{
		background-color: rgba(255, 255, 255, 0.2);
		color: #fff;
	}
	@media (max-width: 1439px){
		font-size: 24px;
		line-height: 32px;
		padding: 24px 20px ;
	}
	@media (max-width: 1024px){
		font-size: 1.7578125vw;
		line-height: 135%;
		padding: 1.904296875vw 1.953125vw;
	}
	@media (max-width: 767px){
		font-size: 5vw;
		padding: 4.6875vw 0;
		left:0;
		width:calc(100% - 12.5vw);
		margin-left: 6.25vw;
		text-align: center;
	}
	&.active{
		bottom: 30px;
		@media (max-width: 767px){

			bottom: 6.25vw;
		}
	}
	&.active.hide{
		bottom:-169px;
		@media (max-width: 1439px){
			bottom:-135px;
		}
	}

}
.calc__link.calc__link--circle {
	backdrop-filter: blur(0px);
	width: 168px;
	height: 168px;
	border-radius: 100px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background:  #0047FF;
	color: #FFFFFF;
	opacity: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	left: auto;
	right: 30px;
	@media (max-width: 1439px){
		width: 130px;
		height: 130px;
		font-weight: 400;
		font-size: 14px;
		line-height: 26px;
	}
	@media (max-width: 375px){
		width: vw(335,375);
		height: 48px;
		border-radius: 0px;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		margin-left: 0;
		right: auto;
		left: 5.333vw;
	}
	&.active {
		opacity: 1;
	}
}