.media {
	padding: 30px 0 60px;
	@media (max-width: 1919px){
		padding: 24px 0 30px;
	}
	@media (max-width: 1439px){
		padding: 30px 0 80px;
	}
	@media (max-width: 1024px) {
		padding: vw(30) 0 vw(47) 0;
	}
	@media (max-width: 767px){
		padding: vw320(15) 0 vw320(15) 0;
	}
	.media__item--wrapCalc {
		.media__item-right {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			@media (max-width: 767px){
				flex: 0 1 100%;
				width: 100%;
			}
		}
		.media__item--calc {
			position: relative;
			display: inline-block;
			width: 100%;
			max-width: 550px;
			@media (max-width: 767px){
				max-width: 100%;
			}
			span {
				opacity: 0.4;
			}
			&__button {
				margin-top: 38px;
				color: #0047FF;
				@media (max-width: 767px){
					margin-top: vw(27,320);
				}
			}
		}
	}
	&__title  {
		margin-bottom: 220px;
		@media (max-width: 1919px){
			margin-bottom: 165px;
		}
		@media (max-width: 1439px){
			margin-bottom: 110px;
		}
		@media (max-width: 1024px) {
			margin-bottom: vw(110);
		}
		@media (max-width: 767px){
			margin-bottom: vw320(50);
		}
	}
	&__items {
		padding-bottom: 0px;
		min-height: auto;
		@media (max-width: 1919px){
			padding-bottom: 0px;
		}
		@media (max-width: 1024px) {
			padding-bottom: 0;
			min-height: 0;
		}
		@media (max-width: 767px){
			padding-bottom: 0;
		}
	}
	&__counter  {
		position: relative;
		display: inline-block;
		color:  #2A2A2A;
		opacity: 0.2;
		text-align: right;
		font-family: Suisse Intl;
		font-size: 80px;
		font-style: normal;
		font-weight: 400;
		line-height: 90%; /* 72px */
		letter-spacing: -2.4px;
		@media (max-width: 1919px){
			font-size: 60px;
			font-style: normal;
			line-height: 95%; /* 57px */
			letter-spacing: -1.8px;
		}
		@media (max-width: 1439px){
			font-size: 50px;
			font-style: normal;
			line-height: 100%; /* 40px */
			letter-spacing: -1.2px;
		}
		@media (max-width: 1024px) {
			font-size: vw(40);
			font-style: normal;
			line-height: 100%; /* 40px */
			letter-spacing: -1.2px;
		}
		@media (max-width: 767px){
			font-size: vw320(24);
			font-style: normal;
			font-weight: 400;
			line-height: 95%; /* 22.8px */
			letter-spacing: -0.72px;
		}		
	}
	&__item-wrapper {
		display: block;
		position: relative;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
		padding-top: 30px;
		padding-bottom: 30px;
		@media (max-width: 1919px){
			padding-top: 22px;
			padding-bottom: 15px;
		}
		@media (max-width: 1439px){
			padding-top: 20px;
			padding-bottom: 10px;
		}
		@media (max-width: 1024px) {
			padding-top: vw(20);
			padding-bottom: vw(17);
		}
		@media (max-width: 767px){
			padding-top: vw320(15);
			padding-bottom: vw320(5);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&.opacity {
			.media__item-left {
				opacity: 0.4;
				transition: all 0.5s ease 0s;
			}
			.media__item-right {
				padding-left: 0px;
				// @media (max-width: 1024px){
				// 	padding-left: 0.977vw;
				// }
				span {
					opacity: 0.4;
					color: #2a2a2a;
				}
			}
		}
		// &:hover {
		// 	.media__item-right {
		// 		padding-left: 10px;
		// 		@media (max-width: 1024px){
		// 			padding-left: 0.977vw;
		// 		}
		// 		span {
		// 			opacity: 1;
		// 			color: #2a2a2a;
		// 		}
		// 	}
		// }
		&--calc {

			
			&:hover {
				.media__item-right {
					padding-left: 0px;
					@media (max-width: 1024px){
						padding-left: 0vw;
					}
					span {
						opacity: 0.3;
					}
				}
				.media__item--calc__button {
					text-decoration: underline;
					text-decoration-thickness: 1px;
					text-underline-offset: 5px;
					text-decoration-skip: none;
					text-decoration-skip-ink: none;
				}
			}				
		}
	}
	&__item {
		display: flex;
		align-items: stretch;

		@media (max-width: 767px){
			flex-flow: column-reverse nowrap;
			align-items: flex-start;


		}
		&-left {
			flex: 1 1 auto;
			transition: all 0.5s ease 0s;
			align-items: flex-start;
			@media (max-width: 1024px){
				flex: 1 1 auto;
			}
			@media (max-width: 767px){
				flex: 1 1 100%;
			}
			>span {
				display: block;
				max-width: 290px;
				margin-left: -20px;
				
				@media (max-width: 1919px){
					margin-left: -15px;
					max-width: 240px;
				}
				@media (max-width: 1439px){
					margin-left: -10px;
					max-width: 220px;
				}
				@media (max-width: 1024px) {
					margin-left: -0.977vw;
					max-width: 21.484vw;
				}
				@media (max-width: 767px){
					max-width: 100%;
					margin-left: -2.667vw;
					max-width: 58.667vw;
				}
				padding-left: 20px;
				@media (max-width: 1919px){
					padding-left: 15px;
				}
				@media (max-width: 1024px) {
					padding-left: 0.977vw;
				}
				@media (max-width: 767px){
					padding-left: 2.667vw;
				}
			}
			& > span {
				font-family: 'Suisse Intl';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: #2a2a2a;
				opacity: 0.4;
				span{
					white-space: nowrap;
					margin-right: 20px;
					display: inline-block;
				}

				b{
					display: inline-block;
					width: 5px;
				}
				@media (max-width: 1919px){
					font-size: 14px;
					line-height: 16px;
				}
				@media (max-width: 1024px) {
					font-size: 1.367vw;
					line-height: 1.563vw;
				}
				@media (max-width: 767px){
					font-size: 3.200vw;
					line-height: 3.733vw;
				}
			}
		}
		
		&-right {
			position: relative;
			flex: 0 1 65%;
			font-family: 'Suisse Intl';
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: 110%; /* 35.2px */
			letter-spacing: -0.64px;
			color: #2A2A2A;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			transition: all 0.3s ease 0s;
			padding-bottom: 30px;
			@media (max-width: 1919px){
				flex: 0 0 64%;
				font-size: 24px;
				line-height: 26.4px;
			}
			@media (max-width: 1439px){
				flex: 0 1 65%;
				font-size: 24px;
				line-height: 26.4px;
			}
			@media (max-width: 1024px) {
				flex: 0 1 65%;
				font-size: vw(24);
				line-height: vw(26.4);
				padding-bottom: vw(16);
			}
			@media (max-width: 767px){
				order: -1;
				width: 100%;
				font-size: vw320(18);
				line-height: vw320(21.6);
				flex-flow: column nowrap;
				align-items: flex-start;
			}
			span {
				opacity: 1;
				transition: all 0.5s ease 0s;
				@media (max-width: 1439px){
					opacity: 1;
				}
			}
		}

		&-new {
			display: block;
			position: absolute;
			bottom: 30px;
			right: 0;
			background: #0047FF;
			border-radius: 30px;
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #FFFFFF;
			padding: 6px 15px;
			@media (max-width: 1919px){
				font-size: 9.39024px;
				line-height: 11px;
				padding: 4px 10px;
				bottom: 25px;
			}
			@media (max-width: 1024px) {
				font-size: 0.977vw;
				line-height: 0.977vw;
				padding: 4px 0.977vw;
				bottom: 2.441vw;
				border-radius: 2.930vw;
			}
			@media (max-width: 767px){
				display: none;
			}
		}
		&__desc {
			max-width: 595px;
			@media (max-width: 1919px){
				max-width: 440px;
			}
			@media (max-width: 1439px){
				max-width: 468px;
			}
			@media (max-width: 1024px) {
				max-width: vw(448);
			}
			@media (max-width: 767px){
				max-width: 100%;
				margin-bottom: vw320(15);
			}
		}
		&__label {
			position: relative;
			display: inline-block;
			color:  #2A2A2A;
			font-family: 'Suisse Intl';
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
			opacity: 0.4;
			min-width: 125px;
			text-align: left;
			@media (max-width: 1024px) {
				max-width: vw(468);
				font-size: vw(18);
				min-width: vw(115);
			}
			@media (max-width: 767px){
				width: 100%;
				display: flex;
				justify-content: space-between;
				font-size: vw320(14);
				max-width: 100%;
				min-width: auto;
			}
			span {
				display: none;
				@media (max-width: 767px){
					display: block;
				}
			}
		}
		&__logo {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 278px;
			height: 100px;
			object-fit: contain;
			object-position: top left;
			@media (max-width: 1919px){
				width: 208px;
				height: 75px;
			}
			@media (max-width: 1439px){
				width: 208px;
				height: 75px;
			}
			@media (max-width: 1024px) {
				width: vw(208);
				height: vw(75);
			}
			@media (max-width: 767px){
				width: vw320(150);
				height: auto;
				margin-bottom: 50px;
			}
			@media (max-width: 320px){
				width: auto;
			}
			@media (max-width: 767px){
				width: auto;
				height: auto;
				margin-bottom: 50px;
			}
			@media (max-width: 767px){
				width: vw320(150);
				height: auto;
				margin-bottom: 50px;
			}
			@media (max-width: 320px){
				width: auto;
			}
			img, svg, picture {
				position: relative;
				display: block;
				max-width: 100%;
				max-height: 100%;
				// @media (max-width: 767px){
				// 	width: 100%;
				// }
				// @media (max-width: 320px){
				// 	width: auto;
				// }
			}
		}
	}

	&__header {
		display: flex;
	}
	
	&__left {
		flex: 1 1 auto;
	}

	&__right {
		flex: 0 1 65%;
		@media (max-width: 1919px){
			flex: 0 1 65%;
		}
		@media (max-width: 1439px){
			flex: 0 1 65%;
		}
		@media (max-width: 1024px){
			flex: 0 1 65%;
		}
		@media (max-width: 767px){
			flex: 0 1 100%;
		}
	}
}
.media-page {
	.flex-lr__right {
		display: flex;
		justify-content: space-between;
	}
}

.fancybox__backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	// backdrop-filter: blur(24px);
}
.fancybox__slide {
	padding-left: 0;
	padding-right: 0;
}