section.media.white-block
	.container 
		.media__header 
			.media__left 
			.media__right
				.media__title.general-title 
					|Публикации 
					a(href="#") в СМИ 
		.media__items 
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							.media__item__logo 
								img(src="img/svg/media__item__logo--1.svg", alt="logo")
						.media__item-right 
							.media__item__desc
								span Как цифровая реальность сделала полезнее уроки Форда и Рокфеллера
							.media__item__label 
								p Статья
								!=" <span>29.09.2023</span>"
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							.media__item__logo 
								img(src="img/svg/media__item__logo--2.svg", alt="logo")
						.media__item-right 
							.media__item__desc
								span Что такое сайт-агрегатор: объясняем простыми словами
							.media__item__label 
								p Интервью
								!="<span>29.09.2023</span>"
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							.media__item__logo 
								img(src="img/svg/media__item__logo--3.svg", alt="logo")
						.media__item-right 
							.media__item__desc
								span Что внедряют передовые российские компании в свой бизнес в 2023 году
							.media__item__label 
								p Комментарий
								!=" <span>29.09.2023</span>"
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							.media__item__logo 
								img(src="img/svg/media__item__logo--4.svg", alt="logo")
						.media__item-right 
							.media__item__desc
								span Рисует, но не шутит: почему нейросети не понимают юмор и как скоро они смогут заменить человека?
							.media__item__label 
								!="Интервью <span>29.09.2023</span>"			
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							.media__item__logo 
								img(src="img/svg/media__item__logo--5.svg", alt="logo")
						.media__item-right 
							.media__item__desc
								span Как в России развивается цифровая трансформация HR-процессов
							.media__item__label
								p Статья
								!=" <span>29.09.2023</span>"