section.media.white-block
	.container 
		.media__items 
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							span
								span web
								span mobile
								span startup
								//span web
								//span mobile
								//span startup
						.media__item-right 
							span Как цифровая реальность сделала полезнее уроки Форда и Рокфеллера
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							span
								span web
						.media__item-right
							span Что такое сайт-агрегатор: объясняем простыми словами
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							span
								span ui     
								span ux    
								span cx
						.media__item-right 
							span Что внедряют передовые российские компании в свой бизнес в 2023 году
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							span
								span outsource
								span outstaff
						.media__item-right 
							span Рисует, но не шутит: почему нейросети не понимают юмор и как скоро они смогут заменить человека?
			a(href="#").media__item-wrapper.js-media__item
				figure 
					.media__item
						.media__item-left 
							span 
								span less money
								span more money
								span new money
						.media__item-right 
							span Как в России развивается цифровая трансформация HR-процессов