.mt30{
	margin-top: 30px;
	@media (max-width: 1919px) {
		margin-top: 30px;
	}
	@media (max-width: 1439px) {
		margin-top: 20px;
	}
	@media (max-width: 1279px) {
		margin-top: 15px;
	}
	@media (max-width: 1023px) {
		margin-top: 2.60416667vw;
	}
	@media (max-width: 767px) {
		margin-top: 4.6511627vw;
	}
	@media (max-width: 429px) {
		margin-top: 5.33333vw;
	}
	@media (max-width: 374px) {
		margin-top: 4.6875vw;
	}
}
.mb30{
	margin-bottom: 30px;
	@media (max-width: 1919px) {
		margin-bottom: 30px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 20px;
	}
	@media (max-width: 1279px) {
		margin-bottom: 15px;
	}
	@media (max-width: 1023px) {
		margin-bottom: 2.60416667vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 4.6511627vw;
	}
	@media (max-width: 429px) {
		margin-bottom: 5.33333vw;
	}
	@media (max-width: 374px) {
		margin-bottom: 4.6875vw;
	}
}


.mt60{
	margin-top: 60px;
	@media (max-width: 1919px) {
		margin-top: 60px;
	}
	@media (max-width: 1439px) {
		margin-top: 45px;
	}
	@media (max-width: 1279px) {
		margin-top: 30px;
	}
	@media (max-width: 1023px) {
		margin-top: 7.8125vw;
	}
	@media (max-width: 767px) {
		margin-top: 15.11627907vw;
	}
	@media (max-width: 429px) {
		margin-top: 17.33333333vw;
	}
	@media (max-width: 374px) {
		margin-top: 20.3125vw;
	}
}
.mb60{
	margin-bottom: 60px;
	@media (max-width: 1919px) {
		margin-bottom: 60px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 45px;
	}
	@media (max-width: 1279px) {
		margin-bottom: 30px;
	}
	@media (max-width: 1023px) {
		margin-bottom: 7.8125vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 15.11627907vw;
	}
	@media (max-width: 429px) {
		margin-bottom: 17.33333333vw;
	}
	@media (max-width: 374px) {
		margin-bottom: 20.3125vw;
	}
}


.mt150{
	margin-top: 150px;
	@media (max-width: 1919px) {
		margin-top: 150px;
	}
	@media (max-width: 1439px) {
		margin-top: 110px;
	}
	@media (max-width: 1279px) {
		margin-top: 80px;
	}
	@media (max-width: 1023px) {
		margin-top: 14.32291667vw;
	}
	@media (max-width: 767px) {
		margin-top: 19.76744186vw;
	}
	@media (max-width: 429px) {
		margin-top: 22.66666667vw;
	}
	@media (max-width: 374px) {
		margin-top: 26.5625vw;
	}
}
.mb150{
	margin-bottom: 150px;
	@media (max-width: 1919px) {
		margin-bottom: 150px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 110px;
	}
	@media (max-width: 1279px) {
		margin-bottom: 80px;
	}
	@media (max-width: 1023px) {
		margin-bottom: 14.32291667vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 19.76744186vw;
	}
	@media (max-width: 429px) {
		margin-bottom: 22.66666667vw;
	}
	@media (max-width: 374px) {
		margin-bottom: 26.5625vw;
	}
}

.mt110{
	margin-top: 110px;
	@media (max-width: 1919px) {
		margin-top: 110px;
	}
	@media (max-width: 1439px) {
		margin-top: 55px;
	}
	@media (max-width: 1279px) {
		margin-top: 50px;
	}
	@media (max-width: 1023px) {
		margin-top: 6.510416667vw;
	}
	@media (max-width: 767px) {
		margin-top: 0;
	}
	@media (max-width: 429px) {
		margin-top: 0;
	}
	@media (max-width: 374px) {
		margin-top: 0;
	}
}

.mb225{
	margin-bottom: 225px;
	@media (max-width: 1919px) {
		margin-bottom: 225px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 165px;
	}
	@media (max-width: 1279px) {
		margin-bottom: 110px;
	}
	@media (max-width: 1023px) {
		margin-bottom: 2.604166667vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 2.325581395vw;
	}
	@media (max-width: 429px) {
		margin-bottom: 2.666666667vw;
	}
	@media (max-width: 374px) {
		margin-bottom: 3.125vw;
	}
}


.mt20{
	margin-top: 20px;
	@media (max-width: 1919px) {
		margin-top: 20px;
	}
	@media (max-width: 1439px) {
		margin-top: 20px;
	}
	@media (max-width: 1279px) {
		margin-top: 20px;
	}
	@media (max-width: 1023px) {
		margin-top: 2.604166667vw;
	}
	@media (max-width: 767px) {
		margin-top: 4.651162791vw;
	}
	@media (max-width: 429px) {
		margin-top: 5.333333333vw;
	}
	@media (max-width: 374px) {
		margin-top: 6.25vw;
	}
}