.mt30{
	margin-top: 30px;
	@media (max-width: 1919px) {
		margin-top: 20px;
	}
	@media (max-width: 1439px) {
		margin-top: 15px;
	}
	@media (max-width: 1024px) {
		margin-top: 1.46484375vw;
	}
	@media (max-width: 767px) {
		margin-top: 4.6875vw;
	}
}
.mb30{
	margin-bottom: 30px;
	@media (max-width: 1919px) {
		margin-bottom: 20px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 15px;
	}
	@media (max-width: 1024px) {
		margin-bottom: 1.46484375vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 4.6875vw;
	}
}


.mt60{
	margin-top: 60px;
	@media (max-width: 1919px) {
		margin-top: 45px;
	}
	@media (max-width: 1439px) {
		margin-top: 30px;
	}
	@media (max-width: 1024px) {
		margin-top: 2.9296875vw;
	}
	@media (max-width: 767px) {
		margin-top: 20.3125vw;
	}
}
.mb60{
	margin-bottom: 60px;
	@media (max-width: 1919px) {
		margin-bottom: 45px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 30px;
	}
	@media (max-width: 1024px) {
		margin-bottom: 2.9296875vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 20.3125vw;
	}
}


.mt150{
	margin-top: 150px;
	@media (max-width: 1919px) {
		margin-top: 110px;
	}
	@media (max-width: 1439px) {
		margin-top: 80px;
	}
	@media (max-width: 1024px) {
		margin-top: 7.8125vw;
	}
	@media (max-width: 767px) {
		margin-top: 20.3125vw;
	}
}
.mb150{
	margin-bottom: 150px;
	@media (max-width: 1919px) {
		margin-bottom: 110px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 80px;
	}
	@media (max-width: 1024px) {
		margin-bottom: 7.8125vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 20.3125vw;
	}
}

.mt110{
	margin-top: 110px;
	@media (max-width: 1919px) {
		margin-top: 55px;
	}
	@media (max-width: 1439px) {
		margin-top: 50px;
	}
	@media (max-width: 1024px) {
		margin-top: 4.8828125vw;
	}
	@media (max-width: 767px) {
		margin-top: 0;
	}
}

.mb225{
	margin-bottom: 225px;
	@media (max-width: 1919px) {
		margin-bottom: 165px;
	}
	@media (max-width: 1439px) {
		margin-bottom: 110px;
	}
	@media (max-width: 1024px) {
		margin-bottom: 10.7421875vw;
	}
	@media (max-width: 767px) {
		margin-bottom: 3.125vw;
	}
}


.mt20{
	margin-top: 20px;
	@media (max-width: 1919px) {
		margin-top: 20px;
	}
	@media (max-width: 1439px) {
		margin-top: 20px;
	}
	@media (max-width: 1024px) {
		margin-top: 1.953125vw;
	}
	@media (max-width: 767px) {
		margin-top: 6.25vw;
	}
}