.pt30{
	padding-top: 30px;
	@media (max-width: 1919px) {
		padding-top: 20px;
	}
	@media (max-width: 1439px) {
		padding-top: 15px;
	}
	@media (max-width: 1024px) {
		padding-top: 1.46484375vw;
	}
	@media (max-width: 767px) {
		padding-top: 4.6875vw;
	}
}
.pb30{
	padding-bottom: 30px;
	@media (max-width: 1919px) {
		padding-bottom: 20px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 15px;
	}
	@media (max-width: 1024px) {
		padding-bottom: 1.46484375vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 4.6875vw;
	}
}


.pt60{
	padding-top: 60px;
	@media (max-width: 1919px) {
		padding-top: 45px;
	}
	@media (max-width: 1439px) {
		padding-top: 30px;
	}
	@media (max-width: 1024px) {
		padding-top: 2.9296875vw;
	}
	@media (max-width: 767px) {
		padding-top: 20.3125vw;
	}
}
.pb60{
	padding-bottom: 60px;
	@media (max-width: 1919px) {
		padding-bottom: 45px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 30px;
	}
	@media (max-width: 1024px) {
		padding-bottom: 2.9296875vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 20.3125vw;
	}
}


.pt150{
	padding-top: 150px;
	@media (max-width: 1919px) {
		padding-top: 110px;
	}
	@media (max-width: 1439px) {
		padding-top: 80px;
	}
	@media (max-width: 1024px) {
		padding-top: 7.8125vw;
	}
	@media (max-width: 767px) {
		padding-top: 20.3125vw;
	}
}
.pb150{
	padding-bottom: 150px;
	@media (max-width: 1919px) {
		padding-bottom: 110px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 80px;
	}
	@media (max-width: 1024px) {
		padding-bottom: 7.8125vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 20.3125vw;
	}
}


.pt110{
	padding-top: 110px;
	@media (max-width: 1919px) {
		padding-top: 55px;
	}
	@media (max-width: 1439px) {
		padding-top: 50px;
	}
	@media (max-width: 1024px) {
		padding-top: 4.8828125vw;
	}
	@media (max-width: 767px) {
		padding-top: 0;
	}
}

.pb225{
	padding-bottom: 225px;
	@media (max-width: 1919px) {
		padding-bottom: 165px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 110px;
	}
	@media (max-width: 1024px) {
		padding-bottom: 10.7421875vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 3.125vw;
	}
}


.pt20{
	padding-top: 20px;
	@media (max-width: 1919px) {
		padding-top: 20px;
	}
	@media (max-width: 1439px) {
		padding-top: 20px;
	}
	@media (max-width: 1024px) {
		padding-top: 1.953125vw;
	}
	@media (max-width: 767px) {
		padding-top: 6.25vw;
	}
}