.pt30{
	padding-top: 30px;
	@media (max-width: 1919px) {
		padding-top: 30px;
	}
	@media (max-width: 1439px) {
		padding-top: 20px;
	}
	@media (max-width: 1279px) {
		padding-top: 15px;
	}
	@media (max-width: 1023px) {
		padding-top: 2.60416667vw;
	}
	@media (max-width: 767px) {
		padding-top: 4.6511627vw;
	}
	@media (max-width: 429px) {
		padding-top: 5.33333vw;
	}
	@media (max-width: 374px) {
		padding-top: 4.6875vw;
	}
}
.pb30{
	padding-bottom: 30px;
	@media (max-width: 1919px) {
		padding-bottom: 30px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 20px;
	}
	@media (max-width: 1279px) {
		padding-bottom: 15px;
	}
	@media (max-width: 1023px) {
		padding-bottom: 2.60416667vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 4.6511627vw;
	}
	@media (max-width: 429px) {
		padding-bottom: 5.33333vw;
	}
	@media (max-width: 374px) {
		padding-bottom: 4.6875vw;
	}
}


.pt60{
	padding-top: 60px;
	@media (max-width: 1919px) {
		padding-top: 60px;
	}
	@media (max-width: 1439px) {
		padding-top: 45px;
	}
	@media (max-width: 1279px) {
		padding-top: 30px;
	}
	@media (max-width: 1023px) {
		padding-top: 7.8125vw;
	}
	@media (max-width: 767px) {
		padding-top: 15.11627907vw;
	}
	@media (max-width: 429px) {
		padding-top: 17.33333333vw;
	}
	@media (max-width: 374px) {
		padding-top: 20.3125vw;
	}
}
.pb60{
	padding-bottom: 60px;
	@media (max-width: 1919px) {
		padding-bottom: 60px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 45px;
	}
	@media (max-width: 1279px) {
		padding-bottom: 30px;
	}
	@media (max-width: 1023px) {
		padding-bottom: 7.8125vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 15.11627907vw;
	}
	@media (max-width: 429px) {
		padding-bottom: 17.33333333vw;
	}
	@media (max-width: 374px) {
		padding-bottom: 20.3125vw;
	}
}


.pt150{
	padding-top: 150px;
	@media (max-width: 1919px) {
		padding-top: 150px;
	}
	@media (max-width: 1439px) {
		padding-top: 110px;
	}
	@media (max-width: 1279px) {
		padding-top: 80px;
	}
	@media (max-width: 1023px) {
		padding-top: 14.32291667vw;
	}
	@media (max-width: 767px) {
		padding-top: 19.76744186vw;
	}
	@media (max-width: 429px) {
		padding-top: 22.66666667vw;
	}
	@media (max-width: 374px) {
		padding-top: 26.5625vw;
	}
}
.pb150{
	padding-bottom: 150px;
	@media (max-width: 1919px) {
		padding-bottom: 150px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 110px;
	}
	@media (max-width: 1279px) {
		padding-bottom: 80px;
	}
	@media (max-width: 1023px) {
		padding-bottom: 14.32291667vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 3.488372093vw;
	}
	@media (max-width: 429px) {
		padding-bottom: 4vw;
	}
	@media (max-width: 374px) {
		padding-bottom: 4.6875vw;
	}
}


.pt110{
	padding-top: 110px;
	@media (max-width: 1919px) {
		padding-top: 110px;
	}
	@media (max-width: 1439px) {
		padding-top: 55px;
	}
	@media (max-width: 1279px) {
		padding-top: 50px;
	}
	@media (max-width: 1023px) {
		padding-top: 6.510416667vw;
	}
	@media (max-width: 767px) {
		padding-top: 0;
	}
	@media (max-width: 429px) {
		padding-top: 0;
	}
	@media (max-width: 374px) {
		padding-top: 0;
	}
}

.pb225{
	padding-bottom: 225px;
	@media (max-width: 1919px) {
		padding-bottom: 225px;
	}
	@media (max-width: 1439px) {
		padding-bottom: 165px;
	}
	@media (max-width: 1279px) {
		padding-bottom: 110px;
	}
	@media (max-width: 1023px) {
		padding-bottom: 2.604166667vw;
	}
	@media (max-width: 767px) {
		padding-bottom: 2.325581395vw;
	}
	@media (max-width: 429px) {
		padding-bottom: 2.666666667vw;
	}
	@media (max-width: 374px) {
		padding-bottom: 3.125vw;
	}
}


.pt20{
	padding-top: 20px;
	@media (max-width: 1919px) {
		padding-top: 20px;
	}
	@media (max-width: 1439px) {
		padding-top: 20px;
	}
	@media (max-width: 1279px) {
		padding-top: 20px;
	}
	@media (max-width: 1023px) {
		padding-top: 2.604166667vw;
	}
	@media (max-width: 767px) {
		padding-top: 4.651162791vw;
	}
	@media (max-width: 429px) {
		padding-top: 5.333333333vw;
	}
	@media (max-width: 374px) {
		padding-top: 6.25vw;
	}
}