/***type-kit***/
.h1{
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	line-height: 90%;
	letter-spacing: -0.03em;
	@media (max-width: 1919px) {
		line-height: 95%;
		font-size: 60px;
	}
	@media (max-width: 1439px) {
		line-height: 95%;
		font-size: 50px;
	}
	@media (max-width: 1024px) {
		line-height: 95%;
		font-size: 3.90625vw;
	}
	@media (max-width: 767px) {
		line-height: 95%;
		font-size: 7.5vw;
	}
}

.h2{
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 110%;
	letter-spacing: -0.03em;
	@media (max-width: 1919px) {
		font-size: 36px;
		line-height: 110%;
	}
	@media (max-width: 1439px) {
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
	}
	@media (max-width: 1024px) {
		font-size: 2.734375vw;
		line-height: 110%;
	}
	@media (max-width: 767px) {
		font-size: 6.25vw;
		line-height: 110%;
	}
}

.h3{
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: -0.02em;
	@media (max-width: 1919px) {
		font-size: 24px;
		line-height: 110%;
	}
	@media (max-width: 1439px) {
		font-size: 24px;
		line-height: 110%;
	}
	@media (max-width: 1024px) {
		font-size: 2.34375vw;
		line-height: 110%;
	}
	@media (max-width: 767px) {
		font-size: 5.625vw;
		line-height: 120%;
	}
}

.b1{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0;
	@media (max-width: 1919px) {
		font-size: 18px;
		line-height: 24px;
	}
	@media (max-width: 1439px) {
		font-size: 18px;
		line-height: 24px;
	}
	@media (max-width: 1024px) {
		font-size: 1.7578125vw;
		line-height: 2.34375vw;
	}
	@media (max-width: 767px) {
		font-size: vw(16,320);
		line-height: vw(22,320);
	}
}

.b2{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0;
	@media (max-width: 1919px) {
		font-size: 14px;
		line-height: 20px;
	}
	@media (max-width: 1439px) {
		font-size: 14px;
		line-height: 20px;
	}
	@media (max-width: 1024px) {
		font-size: 1.3671875vw;
		line-height: 1.953125vw;
	}
	@media (max-width: 767px) {
		font-size: 4.375vw;
		line-height: 6.25vw;
	}
}


.text-style{
	font-family: "Suisse Intl";

	h2{
		@extend .h2;
		&:not(:first-child){
			@extend .mt150;
		}
		+:not(h2):not(div):not(:first-child){
			@extend .mt60;
			@media (max-width: 767px) {
				margin-top: 9.375vw !important;
			}
		}
	}
	h3,h4{
		@extend .h3;
		&:not(:first-child){
			@extend .mt60;
		}
	}
	p {
		@extend .b1;
		&:not(:first-child){
			@extend .mt30;
		}
	}
	ul, ol {
		@extend .b1;
		&:not(:first-child){
			@extend .mt30;
		}
		margin-left: 20px;
		li{
			list-style: inherit;
			padding: 0 0.5em;
			+ li{
				@extend .mt20;
			}
		}
	}
}